<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'ADDRESSES' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onAddButtonTouched()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible"
    image="./assets/imgs/undraw_address_udes.svg"
    [text]="'EMPTY_DATA' | translate">
  </empty-view>

  <ion-list lines="none" margin-top>
    <ion-item text-wrap margin-bottom color="dark"
      *ngFor="let address of addresses">
      <ion-icon name="pin"  slot="start"></ion-icon>
      <ion-label>
        <p>{{ address }}</p>
      </ion-label>
      <ion-button fill="outline" shape="round" color="light" slot="end" (click)="onAddressTouched(address)">
        {{ 'CHOOSE_THIS_ADDRESS' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>

  <div margin-vertical *ngIf="isLoadingViewVisible">
    <ngx-skeleton-loader count="12" [theme]="{ 'border-radius': '0', height: '60px', 'background-color': '#F2F2F2' }">
    </ngx-skeleton-loader>
  </div>

</ion-content>
