.rating-box {
    padding: 20px 0 20px 0;
    border-radius: 20px;
    text-align: center;
}

.comment-box {
    border-color: #808080;
}

.btn-height{
  height:40px;
  border-radius: 7px;
  --padding-start: 7px;
  --padding-end: 7px;
  
}