<app-black-header [title]="pageTitle" [cangoback]="true" [showLike]="false"></app-black-header>

<ion-content #container class="ion-padding" scrollEvents="true">
    <section *ngIf="isContentViewVisible">
        <ion-grid fixed>
            <ion-row style="text-align: center;">
                <ion-col size-xs="12" size-lg="10" class="greyborder">

                    <ion-label text-center color="primary">ضع تقييمك</ion-label>
                    <div class="rating-box">
                        <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star" activeColor="#FF9D0C" defaultColor="#CECECE" readonly="false" [rating]="getRatingNumber()" fontSize="28px" (ratingChanged)="logRatingChange($event)">
                        </ionic4-star-rating>
                    </div>
                    <div class="comment-box">
                        <!-- <ion-label color="primary">تعليقك</ion-label> -->
                        <ion-textarea style="background-color: #E8E8E8; border-radius: 7px;" placeholder="ضع تعليقك هنا ..." name="comment" [(ngModel)]="comment" autofocus="true" autoGrow="true"></ion-textarea>
                    </div>

                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <ion-button size="small" expand="block" color="tertiary" class="ion-text-uppercase ion-text-center btn-height" (click)="submitComment()">
                        <span class="bold">اضافة</span>
                    </ion-button>
                </ion-col>

            </ion-row>


            <ion-row *ngIf="showComments">
                <ion-col size-xs="12" size-lg="10" class="greyborder">
                    <ion-text text-center style="margin-top: 10px; margin-bottom: 30px; opacity: 0.3;">
                        <p class="bold unset-top-bottom-margin text-medium" style="opacity: 0.25; margin-top: 10px; margin-bottom: 30px;">التقييمات</p>
                    </ion-text>
                    <div *ngFor="let item of comments">
                        <ion-text text-left style="margin-top: -10px; margin-bottom: -10px;">
                            <p class="bold unset-top-bottom-margin text-medium left">{{item.user_name}}</p>
                        </ion-text>
                        <ion-text text-right style="margin-top: -10px; margin-bottom: -10px;">
                            <p class="unset-top-bottom-margin text-medium left">{{item?.createdAt | date}}</p>
                        </ion-text>
                        <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star" activeColor="#FF9D0C" defaultColor="#CECECE" readonly="true" [rating]="item.rating" fontSize="15px">
                        </ionic4-star-rating>
                        <div text-justify [innerHTML]="item.comment"></div>
                        <div style="width: 100%; height: 2px; background-color: #F2F2F2; margin: 0 auto;     margin-top: 20px;
                        margin-bottom: 20px;"></div>
                    </div>
                    <hr>
                </ion-col>
            </ion-row>

        </ion-grid>
    </section>
</ion-content>