<app-black-header title="{{ 'NOTIFICATION' | translate }}" [isColorBg]="false" [showSearch]="false" [cangoback]="true">
</app-black-header>
<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let notification of notifications">
      <ion-label>{{ notification.message }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
