.heading1{

}

.two-side-images{
    text-align: center;
    padding-top: 16px;
}




.sociallogobox1{
    background: #039BE5 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    width:40px;
    height:40px
  }
  
  .roundedfilledback{
    height: 35px;
    width: 35px;
    background-color:#F7991E;
    border-radius: 50%;
    margin-left: 5px;
  }

  .custom-div-6{
    border: 1px solid grey;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 50px;
  }

  .custom-img-6{
    display: block;
    width: 75px;
    height: 75px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: -45px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  .p1{
    text-align: center;
    margin-bottom: 0px !important;
    position: relative;
    top: -65px;
    font-weight: bold;
    font-size: 17px;
  }
  .p2{
    text-align: center;
      position: relative;
      top: -82px;
  }

  .custom-para-7{
    text-align: center;
    color: black;
    opacity: 0.2;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
  }