<div padding-start padding-end *ngIf="loading">
    <ion-row nowrap text-center>
        <ion-col size-xs="3" *ngFor="let item of skeletonArray">
            <ngx-skeleton-loader count="1" [theme]="{ width: '60px', height: '60px', 'background-color': '#F3F3F3' }">
            </ngx-skeleton-loader>
        </ion-col>
    </ion-row>
</div>
<ion-grid *ngIf="!loading" style="background: white">
    <ion-row>

        <ion-col size="12">
            <div class="custom-div-6">


                <img class="custom-img-6" [src]="vendor.firebase_url">
                <p class="p1">{{ vendor.shopname }}</p>
                <p class="p2">{{ vendor.ven_name }}</p>
            </div>

        </ion-col>
        <!-- <ion-col size="2" class="two-side-images">
            <img class="roundedfilledback" src="assets/imgs/MAX_Store_Assters/CallVendor.svg" (click)="setVendorPhone(vendor.phone1,vendor.phone2)">
            <a href="https://www.google.com/maps/search/?api=1&query={{vendor.latitude}},{{vendor.longitude}}">
            <img class="roundedfilledback" src="assets/imgs/MAX_Store_Assters/target.svg">
            </a>
        </ion-col>         -->
    </ion-row>
</ion-grid>
<div *ngIf="showSearchBox">
    <ion-grid *ngIf="!loading" style="background: white">
        <p class="custom-para-7">{{ 'SHARE_PRODUCT' | translate }}</p>
        <!--  -->
        <ion-row>
            <ion-col col-1>
            </ion-col>
            <ion-col col-2>
                <!-- {{ 'https://maxstoreapp.com/1/home/items/' + item_$key }} -->
                <a (click)="socialShare.emit( 'web' )">
                    <img src="assets/imgs/MAX_Store_Assters/ShareVia.svg" />
                </a>
            </ion-col>
            <ion-col col-2>
                <!-- href="fb-messenger://share/?link=Item-url-Here&app_id=your-app-id-here" -->
                <a (click)="socialShare.emit( 'fb' )">
                    <img src="assets/imgs/MAX_Store_Assters/Facebook.svg" />
                </a>
            </ion-col>
            <ion-col col-2>
                <!-- href="viber://forward?text=link=Item-url-Here" -->
                <a (click)="socialShare.emit( 'viber' )">
                    <img src="assets/imgs/MAX_Store_Assters/Viber.svg" />
                </a>
            </ion-col>
            <ion-col col-2>
                <!-- href="https://wa.me/?text=Item.URL.Here" -->
                <a (click)="socialShare.emit( 'whatsapp' )">
                    <img src="assets/imgs/MAX_Store_Assters/Whatsapp.svg" />
                </a>
            </ion-col>
            <ion-col col-2>
                <!-- href="https://telegram.me/share/url?url=Item.URL.Here&text=Item.Name.Here" -->
                <a (click)="socialShare.emit( 'telegram' )">
                    <img src="assets/imgs/MAX_Store_Assters/telegram.svg" />
                </a>
            </ion-col>
            <ion-col col-1>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>