<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="onDismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="light">
    <h4 no-margin class="bold">
      {{ 'SHIPPING_INFO' | translate }}
    </h4>
    <div class="line"></div>
  </ion-text>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" #form1="ngForm" novalidate>
    <ion-list lines="none">

      <ion-item-group>
        <ion-list-header>
          <ion-label color="medium" text-capitalize>{{ 'ZONE' | translate }}</ion-label>
        </ion-list-header>
        <ion-list class="dark-input" no-padding>
          <ion-select (ionChange)="onZoneChanged()" formControlName="zone" class="dark-input">
            <ion-select-option *ngFor="let zone of zones" [value]="zone">
              {{ zone.name }}
            </ion-select-option>
          </ion-select>
        </ion-list>
      </ion-item-group>

      <ion-item-group>
        <ion-list-header>
          <ion-label color="medium" text-capitalize>{{ 'SUBZONE' | translate }}</ion-label>
        </ion-list-header>
        <ion-list class="dark-input" no-padding>
          <ion-select formControlName="subzone" class="dark-input" (ionChange)="onSubZoneChanged($event)">
            <ion-select-option *ngFor="let subzone of subzones" [value]="subzone" >
              {{ subzone.name }}
            </ion-select-option>
          </ion-select>
        </ion-list>
      </ion-item-group>

      <ion-item-group>
        <ion-list-header>
          <ion-label color="medium" text-capitalize>{{ 'SHIPPING_ADDRESS' | translate }}</ion-label>
        </ion-list-header>
        <ion-list class="dark-input" no-padding>
          <ion-textarea class="dark-input" rows="4" formControlName="address"></ion-textarea>
        </ion-list>
      </ion-item-group>
  

      <div padding text-center>
        <ion-button type="submit" shape="round" color="light" fill="outline">
          {{ 'SAVE' | translate }}
        </ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>