<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'CHANGE_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" #myForm="ngForm" novalidate>

    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'CURRENT_PASSWORD' | translate }}</span>
    </ion-label>
    <ion-item margin-vertical lines="none" color="light">
      <ion-input type="password" formControlName="oldPassword"></ion-input>
    </ion-item>

    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'NEW_PASSWORD' | translate }}</span>
    </ion-label>
    <ion-item margin-vertical lines="none" color="light">
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-text style="color: #b71bd7;">
      <p class="bold">
        <small>
          {{ 'PASSWORD_VALIDATION_HELP' | translate }}
        </small>
      </p>
    </ion-text>

    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'CONFIRM_PASSWORD' | translate }}</span>
    </ion-label>
    <ion-item margin-vertical lines="none" color="light">
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div text-center>
      <ion-button shape="round" color="primary" [disabled]="isLoadingViewVisible" (click)="myForm.ngSubmit.emit()">
        <ion-spinner *ngIf="isLoadingViewVisible"></ion-spinner>
        <span *ngIf="!isLoadingViewVisible">{{ 'SUBMIT' | translate }}</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>