<!-- <ion-header no-border>
    <ion-toolbar color="primary" mode="ios">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{_title}}</ion-title>

      <div slot="end">
        <ion-button (click)="showSearch = !showSearch">
          <ion-icon src="assets/imgs/Navbar-Search.svg"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon src="assets/imgs/Navbar-Cart.svg"></ion-icon>
          <ion-badge color="light" 
            *ngIf="preference.cartCount">
            {{ preference.cartCount || 0 }} 
          </ion-badge>
        </ion-button>
      </div>
    </ion-toolbar>
  <ion-toolbar color="primary" [hidden]="showSearch">
    <ion-searchbar mode="ios" [placeholder]="'SEARCH_PLACEHOLDER' | translate" (ionClear)="onSearchCleared()"
      (keyup.enter)="onSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<app-black-header [title]="_title ? _title : 'PRODUCTS' | translate" [cangoback]="true" [showSearch]="true" [isSearchOn]="true" (search)="onSearch($event)">
</app-black-header>


<ion-content #container scrollEvents="true">


    <app-share-box *ngIf="vendorId" [showSearchBox]="false" [vendor_id]="vendorId"></app-share-box>
    <!-- <category-img-slides [category]="category" (onclick)="onclick($event)"></category-img-slides> -->
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <ion-grid fixed>

        <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
        </empty-view>

        <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_no_data_qbuo.svg" [text]="'EMPTY_DATA' | translate">
        </empty-view>

        <div no-margin no-padding no-shadow class="parallax px-3 py-3">
            <home-banner [slides]="banners"></home-banner>
        </div>

        <ion-list [@staggerIn]="items.length">

            <!-- <ion-row style="direction: ltr !important;">
        <ion-col size="6" align-left>           
          <div class="custom-select ion-margin-vertical" *ngIf="isContentViewVisible">
            <ion-item lines="none">
              <ion-label>
                <ion-text class="bold" color="medium" text-small>
                  {{ 'ORDER_BY' | translate }}
                </ion-text>
              </ion-label>
      
              <ion-select text-small [(ngModel)]="selectedSortOption" (ionChange)="onSortOptionTouched($event)" [compareWith]="compareSortOption"
                [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-select-option [value]="option" *ngFor="let option of sortOptions">
                  {{ (option.sortByField + '_' + option.sortBy) | uppercase | translate }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-button float-right [fill]="'clear'" color="dark"><span style="color: #ACACAC;">{{ 'RESULTS' | translate }}</span> &nbsp; {{items.length}}</ion-button>          
        </ion-col>
      </ion-row> -->

            <ion-row>
                <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="3" *ngFor="let item of items | productFilter: searchText : ['name']" (click)="goToItemPage(item)">
                    <app-item-block [item]="item"></app-item-block>

                </ion-col>
            </ion-row>
        </ion-list>

        <ion-row *ngIf="isLoadingViewVisible" justify-content-center>
            <ion-col text-center size-xs="6" size-sm="4" size-md="4" size-lg="3" *ngFor="let item of skeletonArray">
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '100%', height: '240px', 'border-radius': '0', 'background-color': '#F2F2F2' }">
                </ngx-skeleton-loader>
            </ion-col>
        </ion-row>

        <ion-infinite-scroll (ionInfinite)="onLoadMore($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </ion-grid>

</ion-content>