

.text-color-theneblue{
    color:  var(--ion-color-themeblue);
}

.dark-background{
    --background: #D9E6E9 !important;
}


.after-intro{
    margin-bottom: 10vh;
}

.logo-outer > img {
    width: 100%;
    margin: 0 auto;
    padding: 52px 35% 0 35%;
}

.logo-outer {
    width: 100%;
    text-align: center;
}

.logo-heading{
    width: 100%;
    position: relative;
    text-align: center;
}

.add-bubble{
    display: inline-block;
}

.add-bubble-orange {
    position: absolute;
    top: -10px;
    left: 28%;
    color: #F21C1C;
    border: 2px solid #F21C1C;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.add-bubble-blue{
    position: absolute;
    bottom: -9px;
    left: 25%;
    color: #0000FE;
    border: 2px solid #0000FE;
    border-radius: 50%;
    width: 9px;
    height: 9px;
}

.col-themeblue{
    background: var(--ion-color-themeblue);
    border-radius: 10px;
    color: white;
    text-align: center;
}

.margin-left-lbl{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    color: white;
}

ion-label{
    font-size: 1.2em;
}

.side-by-side {
    padding: 22px;
}

.icon-top-of-lbl{
    font-size: 1.4em;
    font-weight: bold;
}