<app-black-header [title]="_title" (search)="onSearch($event)"></app-black-header>
<ion-content padding>

    <div class="logo-outer">
        <img src="assets/imgs/Navbar-Cart-blue.svg">        
    </div>
    <div class="logo-heading">        
        <h1 class="text-color-theneblue bold" text-uppercase>{{ item?.abouttitle}}</h1>
        <div class="add-bubble-orange"></div>
        <div class="add-bubble-blue"></div>
    </div>
    <ion-text text-center class="after-intro">        
        <p class="text-color-light" [innerHTML]="item?.app_version"></p>
        <p class="text-color-light" [innerHTML]="item?.aboutdesc"></p>
    </ion-text>
    <ion-item-group>

        <ion-text text-center>
            <p class="text-color-light">{{ 'HELP' | translate }}</p>
            <p class="text-color-light">يمكنك الحصول على المساعدة عبر التواصل</p>
        </ion-text>

        <ion-grid no-padding>
            <ion-row>
            <ion-col size="12" margin-bottom class="col-themeblue" *ngIf="item?.email" (click)="openUrl('mailto:' + item?.email)">
                <ion-label class="icon-label-color">{{ item?.email }} <ion-icon class="margin-left-lbl icon-top-of-lbl" src="assets/imgs/EmailHelp-white.svg"></ion-icon></ion-label>
            </ion-col>
            <ion-col size="12" margin-bottom class="col-themeblue" *ngIf="item?.phone1" (click)="openUrl('tel:' + item?.phone)">
                <ion-label class="icon-label-color">{{ item?.phone1 }} <ion-icon class="margin-left-lbl icon-top-of-lbl" src="assets/imgs/PhoneHelp-white.svg"></ion-icon></ion-label>
            </ion-col>
            <ion-col size="3.66" class="col-themeblue side-by-side" *ngIf="item?.instagram" (click)="openUrl(item?.instagram)">
                <ion-icon class="icon-top-of-lbl" src="assets/imgs/InstagramHelp-white.svg"></ion-icon>
                <ion-label class="icon-label-color">{{ 'INSTAGRAM' | translate }}</ion-label>
            </ion-col>
            <ion-col size="0.5"></ion-col>
            <ion-col size="3.66" class="col-themeblue side-by-side" *ngIf="item?.youtube" (click)="openUrl(item?.youtube)">
                <ion-icon class="icon-top-of-lbl" src="assets/imgs/YoutubeHelp-white.svg"></ion-icon>
                <ion-label class="icon-label-color">{{ 'YOUTUBE' | translate }}</ion-label>
            </ion-col>
            <ion-col size="0.5"></ion-col>
            <ion-col size="3.66" class="col-themeblue side-by-side" *ngIf="item?.facebook" (click)="openUrl(item?.facebook)">
                <ion-icon class="icon-top-of-lbl" src="assets/imgs/FacebookHelp-white.svg"></ion-icon>
                <ion-label class="icon-label-color">{{ 'FACEBOOK' | translate }}</ion-label>
            </ion-col>            
            
            </ion-row>
        </ion-grid>

    </ion-item-group>
</ion-content>