<ion-header class="themebackground">
    <div class="bgcont">
        <img src="assets/imgs/MAX_Store_Assters/SidemenuLogo.png" class="sidemenulogo">
    </div>
</ion-header>
<!-- <ion-content> -->
<!-- List of Text Items -->

<ion-list>
    <ion-menu-toggle>
        <ion-item (click)="openTab('home')">
            <ion-label>{{ 'HOME' | translate }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
        <ion-item (click)="openTab('browse')">
            <ion-label>{{ 'BROWSE' | translate }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
        <ion-item (click)="openTab('cart')">
            <ion-label>{{ 'CART' | translate }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
        <ion-item (click)="openTab('vendors')">
            <ion-label>{{ 'VENDORS' | translate }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
        <ion-item (click)="openTab('account/orders')">
            <ion-label>{{ 'MY_ORDERS' | translate }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
        <ion-item (click)="openTab('account/favorites')">
            <ion-label>{{ 'FAVORITES' | translate }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <!-- <ion-menu-toggle>
    <ion-item (click)="openTab('account/notifications')">
      <ion-label>{{ 'NOTIFICATIONS' | translate }}</ion-label>
    </ion-item>
  </ion-menu-toggle> -->
    <ion-menu-toggle>
        <ion-item (click)="openTab('settings')">
            <ion-label>{{ 'SETTINGS' | translate }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <!-- <ion-menu-toggle>
    <ion-item  (click)="openTab('help')">
      <ion-label>{{ 'HELP' | translate }}</ion-label>
    </ion-item>
  </ion-menu-toggle> -->
</ion-list>

<!-- </ion-content> -->