ion-content{
    height: 100%;
}

ion-header {
    padding-top: 30px;
    padding-bottom: 15px;
}

ion-list {
    padding-left: 25px;
    padding-right: 25px;
}

ion-list *{
   color: black;
}

.header-md:after {
    display: none !important;
}

.bgcont {
    background-image: url('/assets/imgs/MAX_Store_Assters/LogoBgBig.png') ;
    background-size: cover;

}

.sidemenulogo {
    width: 200px;
    padding-top: 70px;
    height: auto;
    display: block;
    margin: 0 auto !important;
}

.themebackground{
    background: linear-gradient(90deg, #f7991e 0%, #f7991e 25%, #f7781e 100%);
    height: 260px;
    border-radius: 0px 0px 50px 50px;
}

