<ion-segment #ionsagment (ionChange)="segmentChanged($event)" scrollable="true" value="all">
  <ion-segment-button class="slide-button" [value]="'all'">
    {{ 'All' | translate}}
  </ion-segment-button>
  <ion-segment-button class="slide-button" *ngFor="let category of subcategories" [value]="category.name">
    {{category.name}}
  </ion-segment-button>
</ion-segment>

<div [ngSwitch]="selected">
  <ng-container>
    <ion-row margin-vertical class="scrollable" *ngSwitchCase="'all'">
      <ion-col size="5" text-center *ngFor="let item of items" (click)="itemClick.emit(item)">
        <app-item-block [item]="item" [showCartIcon]="false"></app-item-block>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-container *ngFor="let category of subcategories">
    <ion-row margin-vertical class="scrollable" *ngSwitchCase="category.name">
      <ion-col size="5" text-center *ngFor="let item of category['items']" (click)="itemClick.emit(item)">
        <app-item-block [item]="item" [showCartIcon]="false"></app-item-block>
      </ion-col>
    </ion-row>
  </ng-container>
</div>

<empty-view margin-vertical *ngIf="!items.length" image="./assets/imgs/undraw_no_data_qbuo.svg"
      [text]="'EMPTY_DATA' | translate">
</empty-view>
