:host {

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  // height: 100%;

  .container {

    ion-icon {
      font-size: 64px;
    }
  }

  .slide-button{
    --color-checked: var(--ion-color-themeblue) !important;
    --background: white;
    --background-checked: white;
  }
  
}