
.price-box{
    p { 
        font-size: 20px; 
        .dollar{
            font-size: 14px;
        }
    }
    
}

// .truncate {
//     display: -webkit-inline-box;
//     -webkit-line-clamp: 1;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     position: absolute;
//     left:130px;
//   }

.cart-price-box{
    p {
        margin: 0;
        font-size: 20px; 
        .dollar{
            font-size: 14px;
        }
    }
    span{
        line-height: 10px;
        font-size: 10px;
    }
}

.orange-button-checkout{
    background: linear-gradient(to right, #E47D17 , #DE3D5B);
    border: 1px solid transparent;
}

ion-button.remove-item-btn{
    // --background: transparent;
    --padding-start: 1px !important;
    --padding-end: 1px !important;
    // border: 1px solid var(--ion-background-blue-color);
    border-radius: 50%;
    font-size: 9px;
    // position:absolute;
    // right:290px;
}

.qt-counter-width{
    width: 88px;    
    float: right;
}

.as-table-cell{
    display: table-cell;
}

.as-vertical-middle{
    display: inline-block;
    vertical-align: middle;
}

.priceline{
    // float:right;
    // // font-size: 18px;
    // margin:0;
    // margin: 0;
    // position: absolute;
    // right: 60px;
    // top: 50%;
    // transform: translateY(-50%);
    // // font-size: 9px;
    // // .bold-rate{
    // //     font-size: 15px;
    // // }
}

.priceline.footer{
    font-size: 9px;
    .bold-rate{
        font-size: 15px;
    }
}



.cart-total{
    // height: 80px;
    margin-left: 10%;
    > span{
        font-size: 15px;
        opacity: 0.5
    }
    p {
        margin: 0;
        padding: 0;
        font-size: 20px;
        line-height: 20px;
        // font-weight: bold;
        span{
            font-size: 15px;
        }
    }
    
}

.btn-checkout{
    // margin-right: 10%;
    border-radius: 13px;

}

p.total-products{
    padding-right: 15px;
    margin: 0;
}

.backdrop{
    background:linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%);
    height: 40px;
}

@media (max-width: 991px) {
    ion-grid, ion-grid > ion-row > ion-col {
        padding: 0 !important;
    }
}