<app-black-header title="CART" (search)="onSearch($event)"></app-black-header>
<ion-content #container scrollEvents="true">

    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
        <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
            refreshingText="{{ 'REFRESHING' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_add_to_cart_vkjp.svg"
        [text]="'CART_EMPTY' | translate">
    </empty-view>

    <ion-grid fixed>
        <div class="backdrop">
            <ion-row *ngIf="cartService.cart?.items.length > 0">
                <ion-col size-xs="12" size-lg="8">

                    <ion-list no-padding style="border-radius: 20px !important;
                    width: 98%;
                    margin: 0 auto;">
                        <!-----
          <ion-text>
            <p text-right class="total-products">
              {{cart?.items.length}} {{ 'PRODUCTS' | translate }}
            </p>
          </ion-text>
            ---->
                        <ion-item (click)="goToItemPage(item)" lines="none"
                            *ngFor="let item of cartService.cart.items;let last = last">

                            <ion-thumbnail slot="start">
                                <img [src]="item.image_firebase_url">
                                <!-- <div class="ac-item circle bg-img" defaultImage="./assets/imgs/placeholder.png" [offset]="300"
                [lazyLoad]="item.featuredImageThumb?.url()" [scrollObservable]="loadAndScroll"></div> -->

                            </ion-thumbnail>

                            <ion-label text-wrap>


                                <ion-row align-items-left>
                                    <ion-col size="10">
                                        <ion-text>
                                            <p class="no-margin"
                                                style="font-size: 14px; font-weight: bold; color: black;">
                                                {{ item.name }}</p>
                                        </ion-text>
                                        <ion-text *ngIf="item.selectedSize && item.selectedColor">
                                            <span *ngIf="item.selectedSize">
                                                <p><b>{{ 'SIZE' | translate }} : </b> {{item.selectedSize}} </p>
                                            </span>
                                            <span *ngIf="item.selectedColor">
                                                <p><b>{{ 'COLOR' | translate }} : </b> {{item.selectedColor}} </p>
                                            </span>
                                            <span *ngIf="item.selectedDevice">
                                                <p><b>{{ 'DEVICE' | translate }} : </b> {{item.selectedDevice}} </p>
                                            </span>
                                        </ion-text>
                                    </ion-col>
                                    <ion-col size="2">
                                        <ion-button shape="round" size="small" color="tertiary"
                                            class="remove-item-btn float-right no-shadow"
                                            (click)="decrementQuantity(item); $event.stopPropagation()">
                                            <ion-icon name="close" slot="icon-only" color="light"></ion-icon>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                                <ion-row align-item-center>
                                    <ion-col size="7" class="as-table-cell">
                                        <p class="priceline"><span class="currency text-medium"
                                                *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span><span
                                                class="bold-rate bold text-large"
                                                *ngIf="item.saleprice">{{ exrate.iraqiRate(item.saleprice) }}&nbsp;</span>
                                            <span class="bold-rate bold text-large"
                                                *ngIf="!item?.saleprice"><span></span>{{ exrate.iraqiRate(item.price) }}</span><span
                                                class="currency text-medium"
                                                *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span>
                                        </p>
                                    </ion-col>
                                    <ion-col size="5">
                                        <app-qty-counter class="qt-counter-width" [qty]="item.qty"
                                            (qtyChange)="qtyChanged(item, $event)"></app-qty-counter>
                                    </ion-col>


                                </ion-row>
                            </ion-label>

                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </div>
        <ion-row margin *ngIf="cartService.cart?.items.length == 0">
            <ion-col size-xs="12" size-lg="8">
                <ngx-skeleton-loader count="6"
                    [theme]="{ 'border-radius': '0', height: '60px', 'background-color': '#F2F2F2' }">
                </ngx-skeleton-loader>
            </ion-col>
            <ion-col size-xs="12" size-lg="4">

                <ngx-skeleton-loader count="1"
                    [theme]="{ 'border-radius': '0', height: '220px', width: '100%', 'background-color': '#F2F2F2' }">
                </ngx-skeleton-loader>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>
<ion-footer *ngIf="!isErrorViewVisible && !isLoadingViewVisible && cartService.cart?.items.length > 0">
    <ion-grid *ngIf="!isLoadingViewVisible && !isErrorViewVisible">
        <ion-row align-items-center style="padding: 12px;">
            <ion-col size="6" class="cart-total-col">
                <div class="cart-total" color="medium">
                    <p style="    font-size: 15px;
                    color: black;">{{ 'TOTAL' | translate }}</p>
                    <p class=""><span class="currency text-medium"
                            *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span><span
                            class="bold-rate bold text-large">{{ exrate.iraqiRate(cartService.cart?.subtotal) }}&nbsp;</span><span
                            class="currency text-medium"
                            *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span></p>
                </div>
            </ion-col>
            <ion-col size="6" class="cart-total-col">
                <ion-button expand="full" size="medium" color="tertiary" (click)="goToCheckout()" style="    border-radius: 10px;
                box-shadow: none;
                height: 45px;">>
                    <ion-spinner color="tertiary" *ngIf="isCreatingOrder"></ion-spinner>
                    <span *ngIf="!isCreatingOrder" class="bold">{{ 'CHECKOUT' | translate }}</span>
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
    <!-- <ion-item>
    <ion-label style="text-align: right;">
      <p>{{ 'TOTAL' | translate }}</p>
      <p class=""><span class="currency text-medium"
          *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span><span
          class="bold-rate bold text-large">{{ exrate.iraqiRate(cart?.total) }}&nbsp;</span><span
          class="currency text-medium" *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span></p>
    </ion-label>
    <ion-button slot="end" size="medium" class="btn-checkout float-left text-large" color="tertiary"
      (click)="goToCheckout()" shape="round" style="position:absolute; right: 180px;">
      <ion-text style="color:#ffff;font-weight:bold; ">
        {{ 'CHECKOUT' | translate }}
      </ion-text>
    </ion-button>
  </ion-item> -->
    <!-- <ion-grid>
    <ion-row align-items-center class="checkout-footer-row">
        <ion-col  size="6" class="cart-total-col">
          <div class="cart-total" color="light">
            <span>{{ 'TOTAL' | translate }}</span>
            <p>
              
              <span class="ir-price">{{ exrate.iraqiRate(cart?.subtotal) }}</span></p>

          </div>
        </ion-col>
        <ion-col size="6">
          <ion-button size="medium" class="btn-checkout float-right text-large" color="themeblue" (click)="goToCheckout()"> 
            <ion-text>{{ 'CHECKOUT' | translate }}</ion-text>
           
          </ion-button>
        </ion-col>
        
    </ion-row>
  </ion-grid> -->
</ion-footer>