ion-card-content {
  border-radius: 15px;
  width: 100%;
  height: 87px;
}
.btn-activated {
  // border-radius: 20px;
  border-radius: 5px;
  // background: var(--ion-background-theme-green-gradient) !important;
  background: red !important;
}

.white-bg {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.05) !important;
  border: 1px solid #C9C9C9;
  margin: 0 !important;
}

.small-padding{
  padding:3px;
}

.round-image-border {
  // border: 1px solid lightgray;
  border-radius: 10px;
}

.priceline {
  font-size: 9px;
  .bold-rate {
    font-size: 12px;
  }
}

.w-100{
  width:100%;
}

.h-35 {
  height: 14px;
  overflow: hidden;
}

.price-orange {
  position: relative;
  display: block;
  overflow: hidden;
  color: var(--ion-color-tertiary);
}

.org-price {
  text-decoration: line-through;
  position: relative;
  display: block;
  overflow: hidden;
}

.chip-style-orange {
  margin-bottom: 0;
  height: 22px;
  background: var(--ion-color-tertiary);
  display: block;
  color: white;
  box-shadow: 0px 3px 3px #0000001a;
  border-radius: 5px;
}

.image-container {
  border-radius: 10px;
  position: relative;
  padding-bottom: 100%;
  /* margin: 4px; */
  background-size: cover;
  background-repeat: no-repeat;
  // width: 100%;
  overflow: hidden;
}

.image-container img {
  width: auto;
  margin: 0 auto;
}

.addtocartbtn{
  width: 100%;
  font-size: 0.8em;
}