<ion-card color="tertiary" class="white-bg small-padding w-100">
  <div class="image-container" [style.background-image]="'url('+ placeholder +')'">
    <!-- <div class="slide bg-img" [attr.imageSrc]="item.featuredImageThumb?.url()" [attr.thumbSrc]="item.featuredImageThumb?.url()" [lazyLoad]="item.featuredImageThumb?.url()"
        [scrollObservable]="slidesObservable" defaultImage="assets/imgs/placeholder-large.jpg">
      </div> -->
    <!-- <img src="assets/imgs/placeholder.gif" /> -->
    <!-- <img class="round-image-border" [src]="placeholder" /> -->
    <span *ngIf="item.percent != 0 && preference.lang == 'en'">
      {{ item.percent | percent }}
    </span>
    <span *ngIf="item.percent != 0 && preference.lang == 'ar'">
      {{ exrate.discountFormatString(item.percent) }}
    </span>
  </div>

  <ion-card-content>





    <ion-text text-center text-wrap color="tertiary">

      <p class="priceline">
        <span class="currency" *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span>
        <span class="bold-rate bold"
          text-medium>{{ item.saleprice ? exrate.iraqiRate(item.saleprice) : exrate.iraqiRate(item.price) }}&nbsp;</span>
        <span class="bold-rate bold text-medium" *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span>
      </p>
      <!-- <p *ngIf="!item.saleprice" class="h-35 link text-small">
        <span>{{ exrate.iraqiRate(item.price) }}</span>
      </p> -->
    </ion-text>
    <!-- <ion-text class="ion-text-wrap ion-text-center" color="tertiary">
      <p *ngIf="item.saleprice" class=""><span
          class="normal-rate">{{ exrate.iraqiRate(item.price) }}</span><span class="currency"
          *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span></p>
    </ion-text> -->
    <ion-text class="ion-text-wrap ion-text-center" color="dark">
      <p class="bold text-medium">{{ item.name }}</p>
    </ion-text>

    <!-- <app-qty-counter (qtyChange)="this.item.qty = $event" style="margin-top: -5px; margin-bottom: -5px;"></app-qty-counter> -->

    <!-- <ion-row justify-content-center> -->

    <ion-button size="small" color="tertiary" (click)="setColor($event, item); addToCartActivated = true"
      class="addtocartbtn bold">
      {{ 'ADD_TO_CART' | translate }}
      <!-- <ion-text text-small><p no-margin></p></ion-text> -->
      <!-- <ion-icon  *ngIf="showCartIcon"  slot="end" src="assets/imgs/Navbar-Cart-White.svg"></ion-icon> -->
    </ion-button>
    <!-- </ion-row> -->
    <ion-select #colorSelect [(ngModel)]="color" name="color" [interfaceOptions]="colorActionSheetOptions"
      interface="action-sheet" (ionChange)="setSize(item)" hidden>
      <ion-select-option *ngFor="let color of item.color">{{color}}</ion-select-option>
    </ion-select>
    <ion-select #sizeSelect [(ngModel)]="size" name="size" [interfaceOptions]="sizeActionSheetOptions"
      interface="action-sheet" (ionChange)="setDevice(item)" hidden>
      <ion-select-option *ngFor="let size of sizes">{{size['size'] ? size['size'] : size}}</ion-select-option>
    </ion-select>
    <ion-select #deviceSelect [(ngModel)]="device" name="size" [interfaceOptions]="deviceActionSheetOptions"
      interface="action-sheet" (ionChange)="addToCart(cartItem)" hidden>
      <ion-select-option *ngFor="let device of item.devices">{{device}}</ion-select-option>
    </ion-select>
  </ion-card-content>
</ion-card>