<ion-header no-border>

  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PAYMENT' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onAddButtonTouched()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_credit_card_df1m.svg" [text]="'EMPTY_DATA' | translate">
  </empty-view>

  <ion-grid fixed>

    <ion-row justify-content-center>
      <ion-col size-xs="12" size-lg="9">
        <ion-list lines="none" margin-top>
          <ion-item color="light" margin-bottom *ngFor="let card of cards">
            <img src="./assets/imgs/{{card.formatBrand()}}.png" width="40" slot="start" />
            <ion-label>
              <p>&#8226;&#8226;&#8226;&#8226; {{ card.last4 }}</p>
            </ion-label>
            <ion-button fill="clear" color="dark" slot="end" (click)="onDeleteCard(card)">{{
              'DELETE'
              | translate }}</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row margin-vertical justify-content-center *ngIf="isLoadingViewVisible">
      <ion-col size-xs="12" size-lg="9">
        <ngx-skeleton-loader count="12" [theme]="{ 'border-radius': '0', height: '70px', 'background-color': '#F2F2F2' }">
        </ngx-skeleton-loader>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>