<app-black-header title="الاقسام" [showSearch]="true" (search)="onSearch($event)"></app-black-header>
<ion-content scrollEvents="true" #container>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <!-- no-margin no-padding -->
  <ion-grid no-padding fixed>
    
    <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <ion-row class="all-categories ion-no-padding" *ngIf="isContentViewVisible" [@staggerIn]="categories.length">
      <ion-col class="ion-no-margin" no-padding size="3" color="primary" class="scroll-sidebar">
        <ion-list class="ion-no-margin ion-no-padding">

          <ion-card class="no-shadow sd-card-side" [ngClass]="{'bactive' : selectedCategoryIndex == -1}" no-margin
            (click)="ViewAllCategories()">
            <img class="card-img-height" style="height: 50px;"  [src]="'assets/imgs/Hamburger-Menu.svg'" />
            <ion-card-subtitle text-center class="text-medium">{{ 'CATEGORIES' | translate }}</ion-card-subtitle>
          </ion-card>

          <ion-card class="no-shadow sd-card-side" [ngClass]="{'bactive' : selectedCategoryIndex == i}" no-margin
            (click)="loadSubcategoryData($event, i,  category)" *ngFor="let category of categories; let i = index">
            <img class="card-img-height" src-fallback="assets/imgs/Hamburger-Menu.svg" [src]="category?.firebase_url" />
            <ion-card-subtitle text-center class="text-medium">{{ category.cat_name }}</ion-card-subtitle>
          </ion-card>

        </ion-list>

      </ion-col>
      <ion-col size="9" class="ion-no-margin ion-no-padding bactive">

        <ion-list *ngIf="selectedCategoryIndex == -1" class="bactive scroll-sidebar">
          <ion-item [detail]="true" (click)="onViewAll()" class="bactive">
            <ion-label>{{ 'VIEW_ALL' | translate }}</ion-label>
          </ion-item>
          <ion-item [detail]="true" *ngFor="let category of categories; let i = index" class="bactive" (click)="loadSubcategoryData($event, i,  category)">
            <ion-label>{{ category.cat_name }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-list *ngIf="selectedCategoryIndex != -1" class="bactive scroll-sidebar ">
          <ion-item [detail]="true" (click)="onViewAll()" class="bactive">
            <ion-label>{{ 'VIEW_ALL' | translate }}</ion-label>
          </ion-item>
          <ion-item [detail]="true" *ngFor="let category of subcategories" class="bactive" (click)="onSubCategoryTouched(category)">
            <ion-label>{{ category.cat_name }}</ion-label>
          </ion-item>
        </ion-list>

      </ion-col>

      <section *ngIf="isLoadingViewVisible">
        <ion-row text-center>
          <ion-col size-xs="3" *ngFor="let item of skeletonArray">
            <ngx-skeleton-loader count="1" appearance="circle"
              [theme]="{ width: '60px', height: '60px', 'background-color': '#F2F2F2' }">
            </ngx-skeleton-loader>
          </ion-col>
        </ion-row>
      </section>

    </ion-row>

  </ion-grid>

</ion-content>