.scroll-sidebar {
  height: 100%;
  overflow-y: scroll;
}
ion-list {
  padding-top: 0;
  padding-bottom: 0;
}
.card-img-height {
  margin: 0px auto;
  padding: 9px;
  border-radius: 1px;
}

.full-height-grid {
  display: flex;
  height: 100%;
}
ion-col.custom-bg-color-gray {
  background: #f0f1f5;
}
.bactive {
  --background: #f0f1f5;
  background: #f0f1f5;
}
.cf-list {
  width: 100%;
}
.cf-item {
  --background: #f0f1f5;
  border: unset;
  border-radius: unset;

  ion-label {
    font-weight: normal;
    color: #20324d;
  }
}
.sd-card-side {
  
  ion-card-subtitle {
    font-weight: normal;
    color: #20324d;
  }
}
.all-categories {
  width: 100%;
}

@media (min-width: 992px) {
  ion-col {
    margin: 16px 0;
  }

  ion-card.unset-border-radius {
    border-radius: unset;
  }

  .cat-section {
    display: flex;
    height: 100%;
    background: red;
  }
}

.fixed-gradient-background {
  background: linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%);
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
