<ion-tabs>

  <ion-tab-bar slot="bottom" style="background-color: white;" fixed>


    <ion-tab-button tab="cart" layout="icon-top" (click)="selectedIndex = 'cart'">
      <ion-icon
        [src]="selectedIndex == 'cart' ? 'assets/imgs/MAX_Store_Assters/TabbarCart-Orange.svg' : 'assets/imgs/MAX_Store_Assters/TabbarCart.svg'">
      </ion-icon>
      <ion-label>{{ 'CART' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse" layout="icon-top" (click)="selectedIndex = 'explore'">
      <ion-icon
        [src]="selectedIndex == 'explore' ? 'assets/imgs/MAX_Store_Assters/TabbarCategories-Orange.svg' : 'assets/imgs/MAX_Store_Assters/TabbarCategories.svg'">
      </ion-icon>
      <ion-label>{{ 'EXPLORE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" layout="icon-top" (click)="selectedIndex = 'home'">
      <ion-icon
        [src]="selectedIndex == 'home' ? 'assets/imgs/MAX_Store_Assters/TabbarHome-Orange.svg' : 'assets/imgs/MAX_Store_Assters/TabbarHome.svg' ">
      </ion-icon>
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="account" layout="icon-top" (click)="selectedIndex = 'account'">
      <ion-icon
        [src]="selectedIndex == 'account' ? 'assets/imgs/MAX_Store_Assters/TabbarVendors-Orange.svg' : 'assets/imgs/MAX_Store_Assters/TabbarVendors.svg'    ">
      </ion-icon>
      <ion-label>{{ 'ACCOUNT' | translate }}</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="account/orders" layout="icon-top" (click)="selectedIndex = 'orders'">
      <ion-icon
        [src]="selectedIndex == 'orders' ? 'assets/imgs/MAX_Store_Assters/TabbarOrders-Orange.svg' : 'assets/imgs/MAX_Store_Assters/TabbarOrders.svg' ">
      </ion-icon>
      <ion-label>{{ 'ORDERS' | translate }}</ion-label>
      <!-- <ion-badge color="light" class="red-badge"
                *ngIf="preference.cartCount">
                {{ preference.cartCount }}
              </ion-badge> -->
    </ion-tab-button>

  </ion-tab-bar>



  <!-- <ion-tab-bar slot="bottom" color="light" *ngIf="platform.is('desktop')" fixed>
    <ion-tab-button tab="home" layout="icon-start">
      <ion-icon name="home"></ion-icon>
      <ion-label color="medium">{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse" layout="icon-start">
      <ion-icon name="list"></ion-icon>
      <ion-label color="medium">{{ 'BROWSE' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" layout="icon-start">
      <ion-icon src="assets/imgs/Tabbar-Cart.svg"></ion-icon>
      <ion-label color="medium">{{ 'CART' | translate }}</ion-label>
      <ion-badge class="static margin-6-horizontal red-badge" color="light" 
        *ngIf="preference.cartCount">
        {{ preference.cartCount }}
      </ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="help" layout="icon-start">
        <ion-icon src="assets/imgs/Tabbar-Help.svg"></ion-icon>
        <ion-label color="medium">{{ 'HELP' | translate }}</ion-label>
      </ion-tab-button>

  </ion-tab-bar> -->

</ion-tabs>