ion-tab-bar {
    height: 70px;
  }
  
ion-tab-button{
    ion-icon{
        margin: 5px;
    }
}


.tab-selected {
    color: var(--ion-color-tertiary) !important;    
    .cls-1, .cls-2, .a{
        stroke: var(--ion-color-tertiary) !important;
        fill: var(--ion-color-tertiary) !important;
    }
} 




