<!-- <ion-header>

  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'MY_ORDERS' | translate }}</ion-title>
    <ion-buttons slot="end" *ngIf="preference.cartCount">
      <ion-button fill="clear" (click)="goToCartPage()">
        <ion-icon slot="start" name="cart"></ion-icon>
        <span> {{ preference.cartCount }} </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header> -->
<app-black-header [cangoback]="cangoback" title="{{ 'MY_ORDERS' | translate }}" (search)="onSearch($event)"></app-black-header>

<ion-content #container scrollEvents="true">

    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
        <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_no_data_qbuo.svg" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <ion-grid fixed>

        <ion-row justify-content-center *ngIf="isContentViewVisible">
            <ion-col size-xs="12" size-lg="10">
                <ion-list lines="none">
                    <ion-list-header color="tertiary">
                        {{ 'LAST_ORDERS' | translate }}
                    </ion-list-header>
                    <ion-item margin-vertical *ngFor="let order of orders" (click)="onNavigateToOrderPage(order)">

                        <ion-thumbnail slot="start">
                            <img [src]="order.items[0].image_firebase_url" />
                            <!-- <img src="./assets/imgs/placeholder.png" [lazyLoad]="order.firstItem.featuredImageThumb?.url()"
                [scrollObservable]="container.ionScroll" /> -->
                        </ion-thumbnail>

                        <ion-label>

                            <ion-row align-items-center>
                                <ion-col size-xs="12" size-md="9">
                                    <ion-text text-wrap color="dark">
                                        <p>{{ prettyItems(order) }}</p>
                                    </ion-text>

                                    <ion-text color="primary">
                                        <p class="bold">
                                            <span *ngIf="order?.status === 'Unpaid'">{{ 'UNPAID' | translate }}</span>
                                            <span *ngIf="order?.status === 'Paid'">{{ 'PAID' | translate }}</span>
                                            <span *ngIf="order?.status === 'Packed'">{{ 'PACKED' | translate }}</span>
                                            <span *ngIf="order?.status === 'Shipped Out'">{{ 'SHIPPED_OUT' | translate }}</span>
                                            <span *ngIf="order?.status === 'Cancelled'">{{ 'CANCELLED' | translate }}</span>
                                        </p>
                                    </ion-text>

                                    <p>
                                        <small>{{ order.createdAt | date: 'mediumDate' }}</small>
                                    </p>
                                </ion-col>

                                <ion-col size-xs="12" size-md="3">
                                    <ion-button shape="round" color="tertiary">
                                        {{ 'VIEW' | translate }}
                                        <ion-icon slot="end" name="arrow-forward"></ion-icon>
                                    </ion-button>
                                </ion-col>

                            </ion-row>

                        </ion-label>

                    </ion-item>

                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row margin-vertical justify-content-center *ngIf="isLoadingViewVisible">
            <ion-col size-xs="12" size-lg="10">
                <ngx-skeleton-loader count="12" [theme]="{ 'border-radius': '0', height: '100px', 'background-color': '#F2F2F2' }">
                </ngx-skeleton-loader>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>