<ion-row class="scrollable no-shadow half-white-gray" *ngIf="subcategories.length" [@staggerIn]="subcategories.length">

    <ion-col size="3.2" text-center class="no-shadow all-categories" (click)="onclick.emit('all')">

      <ion-card no-margin>
        <img class="gray-bg r_only" src="assets/imgs/Hamburger-Menu.svg">        
        <p>{{ 'All' | translate }}</p>
      </ion-card>
        
    </ion-col>

    <ion-col size="3.2" class="no-shadow all-categories" text-center *ngFor="let category of subcategories"
      (click)="onclick.emit(category.id)">
     
        <ion-card no-margin>
          <img class="gray-bg r_only" [src]="returnCategoryImage(category)">
          <p>{{ category.name }}</p>
        </ion-card>
      

    </ion-col>
  </ion-row>