.dsagment {
  .card-img-height {
    height: 45px;
  }
}

.gray-bg {
  background: #f0f1f5;
}
.r-only {
}

.half-white-gray {
  background: linear-gradient(to bottom, white 50%, transparent 52%);
  padding-top: 16px;
}
.all-categories {
  padding: 0 4px;
  p {
    color: #656d79;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    background: white;
  }
  .vl-item {
    width: 150px !important;
    height: 80px !important;
    border: none;
    padding: 0;
    background-clip: content-box; /* support: IE9+ */
    background-color: #fff;
    border-radius: unset;
  }
  .ac-item.circle:not(.loader) {
    width: 150px;
    height: 80px;
    border: none;
    padding: 0;
    background-clip: content-box; /* support: IE9+ */
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: unset;
  }
}
