<ion-header no-border>
  <ion-toolbar color="tertiary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'SUPPORT' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col size-xs="12" size-lg="10">
        <div class="flex center align-items-center logo-container" text-center>
          <img class="logo" src="./assets/imgs/MAX_Store_Assters/about-logo.png" width="160">
          <h1 class="bold" style="font-size: 18px; margin-top: 5px;">{{ 'APP_NAME' | translate }}</h1>
          <!-- <h3>{{ about?.app_version }}</h3> -->
        </div>

        <ion-row *ngIf="isContentViewVisible">

          <ion-col size-xs="12" size-md="7" padding style="    padding-top: 0px;
          padding-bottom: 0px;">
            <div>
              <div text-center text-uppercase>
                <!-- <h5>{{ 'DETAILS' | translate }}</h5> -->
              </div>
              <div margin-vertical text-justify>{{about.aboutdesc}} </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-md="5" padding style="    padding-top: 0px;
          padding-bottom: 0px;">
            <div>
              <div class="ion-text-left ion-text-uppercase">
                <!-- <h5>{{ 'HELP' | translate }}</h5> -->
              </div>
              <ion-item *ngIf="about?.email" (click)="openUrl('mailto:' + about?.email)">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ about?.email }}</p>
                </ion-label>
              </ion-item>
              <ion-item *ngIf="about?.phone1" (click)="openUrl('tel:' + about?.phone1)">
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ about?.phone1 }}</p>
                </ion-label>
              </ion-item>
              <ion-item *ngIf="about?.phone1" (click)="openUrl('tel:' + about?.phone1)">
                <ion-icon name="logo-whatsapp" color="whatsapp" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ about?.whatsapp }}</p>
                </ion-label>
              </ion-item>
              <ion-item *ngIf="about?.facebook" (click)="openUrl(about?.facebook)">
                <ion-icon name="logo-facebook" color="fb" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ 'FACEBOOK' | translate }}</p>
                </ion-label>
              </ion-item>
              <ion-item *ngIf="about?.youtube" (click)="openUrl(about?.youtube)">
                <ion-icon name="logo-youtube" color="youtube" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ 'YOUTUBE' | translate }}</p>
                </ion-label>
              </ion-item>
              <ion-item *ngIf="about?.instagram" (click)="openUrl(about?.instagram)">
                <ion-icon name="logo-instagram" color="instagram" slot="start"></ion-icon>
                <ion-label>
                  <p class="link">{{ 'INSTAGRAM' | translate }}</p>
                </ion-label>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>