// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** blue - primary **/
  --ion-background-blue-color: #b71bd7;
  --ion-background-white: #ffffff;
  --ion-background-gray: #f2f2f2;

  --ion-color-textgray: #A1A1A1;
  --ion-color-textgray-rgb: 158, 162, 177;
  --ion-color-textgray-contrast: #000000;
  --ion-color-textgray-contrast-rgb: 0, 0, 0;
  --ion-color-textgray-shade: #8b8f9c;
  --ion-color-textgray-tint: #a8abb9;

  /** primary **/

  --ion-background-theme-orange-gradient: linear-gradient(
    to right,
    #e47d17,
    #de3d5b
  );
  --ion-background-theme-green-gradient: linear-gradient(
    to right,
    #25c81b,
    #25c81b
  );
  --ion-background-green-gradient: radial-gradient(
    circle at top,
    #ffffff 80%,
    #f4fbf6 0
  );
  --ion-background-green-color: #ddfce4;

  --ion-color-gray-shade: #c9c9c9;
  --ion-color-bggray: #e8e7e7;

  --ion-color-primary: #222428;
  --ion-color-primary-rgb: 34, 36, 40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1e2023;
  --ion-color-primary-tint: #383a3e;

  /** secondary **/
  --ion-color-secondary: #5b6491;
  --ion-color-secondary-rgb: 91, 100, 145;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #505880;
  --ion-color-secondary-tint: #6b749c;

  /** tertiary **/
  --ion-color-tertiary: #ff9d0c;
  --ion-color-tertiary-rgb: 255, 157, 12;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #e08a0b;
  --ion-color-tertiary-tint: #ffa724;

  /** success **/
  --ion-color-success: #128c7e;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #107b6f;
  --ion-color-success-tint: #2a988b;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #f1f1f1;
  --ion-color-medium-rgb: 241, 241, 241;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #d4d4d4;
  --ion-color-medium-tint: #f2f2f2;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-text-gray: #a1a3a2;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #aaaaaa;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** themeblue **/
  --ion-color-themeblue: #0000fe;
  --ion-color-themeblue-rgb: 0, 0, 254;
  --ion-color-themeblue-contrast: #ffffff;
  --ion-color-themeblue-contrast-rgb: 255, 255, 255;
  --ion-color-themeblue-shade: #0000e0;
  --ion-color-themeblue-tint: #1a1afe;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  /** white **/
.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

  .ion-color-fb {
    --ion-color-base: #3b5999;
    --ion-color-base-rgb: 105, 187, 123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #3b5999;
    --ion-color-tint: #3b5999;
  }

  .ion-color-twitter {
    --ion-color-base: #55acee;
    --ion-color-base-rgb: 105, 187, 123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #55acee;
    --ion-color-tint: #55acee;
  }

  .ion-color-whatsapp {
    --ion-color-base: #25d366;
    --ion-color-base-rgb: 105, 187, 123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #25d366;
    --ion-color-tint: #25d366;
  }

  .ion-color-youtube {
    --ion-color-base: #ff0000;
    --ion-color-base-rgb: 105, 187, 123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #ff0000;
    --ion-color-tint: #ff0000;
  }

  .ion-color-instagram {
    --ion-color-base: #5851db;
    --ion-color-base-rgb: 105, 187, 123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #5851db;
    --ion-color-tint: #5851db;
  }

  .ion-color-textgray {
    --ion-color-base: var(--ion-color-textgray);
    --ion-color-base-rgb: var(--ion-color-textgray-rgb);
    --ion-color-contrast: var(--ion-color-textgray-contrast);
    --ion-color-contrast-rgb: var(--ion-color-textgray-contrast-rgb);
    --ion-color-shade: var(--ion-color-textgray-shade);
    --ion-color-tint: var(--ion-color-textgray-tint);
  }

  .ion-color-themeblue {
    --ion-color-base: var(--ion-color-themeblue);
    --ion-color-base-rgb: var(--ion-color-themeblue-rgb);
    --ion-color-contrast: var(--ion-color-themeblue-contrast);
    --ion-color-contrast-rgb: var(--ion-color-themeblue-contrast-rgb);
    --ion-color-shade: var(--ion-color-themeblue-shade);
    --ion-color-tint: var(--ion-color-themeblue-tint);
  }

  .ion-color-tertiary {
    --ion-color-base: var(--ion-color-tertiary);
    --ion-color-base-rgb: var(--ion-color-tertiary-rgb);
    --ion-color-contrast: var(--ion-color-tertiary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb);
    --ion-color-shade: var(--ion-color-tertiary-shade);
    --ion-color-tint: var(--ion-color-tertiary-tint);
  }
  --ion-grid-width-xl: 992px;
  // --ion-font-family: 'Cairo'; // 'Quicksand', 'Lato'  , sans-serif;

  ion-modal {
    --border-radius: 0;
  }

  @media (min-width: 992px) {
    ion-modal {
      --border-radius: 6px;
    }
  }
}
