<ion-header no-border>
  <ion-toolbar transparent color="tertiary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="center" fixed>
    <ion-row justify-content-center>
      <ion-col size-xs="12" size-lg="10">
          <div text-center *ngIf="order">
              <ion-icon [src]="'assets/imgs/delivery-truck.svg'" color="light"></ion-icon>
              <div padding>
                <ion-text color="dark">
                  <p [translate]="'ORDER_DETAILS'" [translateParams]="{number: order.id}"></p>
                  <p>{{ 'ORDER_AMOUNT_WITH_DELIVERY' | translate }}</p>
                  <ion-text color="tertiary">
                    <p ><span class="currency text-medium"
                      *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span><span
                      class="bold-rate bold text-large">{{ exrate.iraqiRate(order?.total) }}&nbsp;</span><span
                      class="currency text-medium" *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span></p>
                  </ion-text>
                  
                </ion-text>
          
              </div>
              <ion-button size="large" color="tertiary" (click)="goToHome()">
                {{ 'CONTINUE_SHOPPING' | translate }}
              </ion-button>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>