<ion-app class="teche" [ngClass]="{'mobile-responsive' : isWeb }">
    <ion-split-pane>
        <!--  our side menu  -->
        <ion-menu>
            <app-sidemenu class="sidemenu-style"></app-sidemenu>
        </ion-menu>

        <!-- the main content -->
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
    <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>