.container {
    
    width: 100%;
    padding-top: 53.33%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    /* If you want text inside of the container */
    overflow: hidden;
    border-radius: 10px;
    .main-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // height: 80px;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        padding:5px;
    }
  }
  
  