.texture-content {}

.iconic-portion {
    // position: relative;
    // background-image: url(../../../assets/imgs/texture_bg.png), radial-gradient(circle at top, #B71BD7 81%, white 82%);
    // background-size: cover;
    padding: 16px;
    background: #e8e7e7;
}

ion-radio-group.dark-input {
    // --ion-color-dark: #F2F2F2
}

.toplang {
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    opacity: 1;
}

.form-btns {}

.outerform {
    position: relative;
}

.loginformdesign {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 50px 50px 0px 0px;
    left: 0;
    right: 0;
    top: -36px;
    position: absolute;
    padding: 2em;
}

.phonenumbergroup {}

img.fflag {
    height: 35px;
    border-radius: 5px !important;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

.pn-withborders {
    // height: 45px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #FF9D0C;
    border-radius: 10px;
    opacity: 1;
    overflow: hidden;
    ion-thumbnail {}
    ion-input {
        --padding-top: unset;
        --padding-bottom: unset;
    }
}

.heading-portion {
    text-align: center;
    h3 {
        font-weight: bold;
    }
    p {
        color: rgba(0, 0, 0, 0.4);
        font-size: 13px;
    }
}

.graycolorbtn {
    color: #A5A5A5;
    font-size: 16px;
}

.oragecolorbtn {
    color: var(--ion-color-tertiary);
    font-size: 16px;
}

ion-input {
    --padding-top: unset;
    --padding-bottom: unset;
}