<!-- <ion-header no-border *ngIf="showHeader">
  <ion-toolbar color="tertiary">
    <ion-title>{{ 'LOGIN' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <app-black-header *ngIf="showHeader" title="{{ 'LOGIN' | translate }}" [cangoback]="showHeader"></app-black-header> -->
<ion-content class="texture-content">
    <ion-select placeholder="Language" class="toplang" style="color: white;     position: absolute;
    top: 5px;
    left: 5px;" [(ngModel)]="language" name="language" interface="action-sheet" (ionChange)="onChangeLang($event)">
        <ion-select-option disabled="true"><p style="color: lightgrey;">{{ 'CHOOSE_LANGUAGE' | translate }}</p></ion-select-option>
        <ion-select-option value="en">{{ 'ENGLISH' | translate }}</ion-select-option>
        <ion-select-option value="ar">{{ 'ARABIC' | translate }}</ion-select-option>
    </ion-select>

    <div text-center class="iconic-portion" style="background-image: url( assets/imgs/loginbg/bg.png ), linear-gradient( to right, #ed7300, #ee9600);
  background-size: 100%;
  height: 240px;
  object-fit: contain;">
        <ion-icon [src]="logiImage" style="font-size: 13em;"></ion-icon>
    </div>

    <div *ngIf="showOtpForm">
        <div>

        </div>

        <div class="outerform">
            <form [formGroup]="form" novalidate autocomplete="off" padding class="loginformdesign">

                <div class="heading-portion">
                    <h3>{{ 'LOGIN_HEADING' | translate }}</h3>
                    <ion-text>
                        <p no-margin>{{ 'LOGIN_DESC' | translate }}</p>
                    </ion-text>
                </div>

                <div style="width: 100%; display:none" id="recaptcha-container"></div>

                <ion-item-group class="phonenumbergroup " no-padding>
                    <ion-list-header class="" no-padding>
                        <ion-label text-capitalize style="text-align: right;">{{ 'PHONE' | translate }}</ion-label>
                    </ion-list-header>
                    <ion-grid nclass="pn-withborders " no-padding>
                        <ion-row align-items-center class="dark-input" no-padding style="border-radius: 10px;
                        margin-bottom: 15px;">
                            <ion-col size="2" class="" no-padding>
                                <ion-thumbnail class="" no-padding>
                                    <img class="fflag" src="assets/imgs/flags/iq.png">
                                </ion-thumbnail>
                            </ion-col>
                            <ion-col size="8" class="" no-padding>
                                <ion-input  text-center type="tel" formControlName="phone" [placeholder]="'CONTACT_NUMBER' | translate"></ion-input>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item-group>

                <ion-button type="button" expand="block" color="tertiary" class="form-btns" [disabled]="isLoadingByPhone || isLoadingByUsername || form.controls.phone.invalid" (click)="onPhoneButtonTouched()">
                    <ion-icon slot="start" name="call-outline" color="light"></ion-icon>
                    <ion-spinner color="primary" *ngIf="isLoadingByPhone"></ion-spinner>
                    <span *ngIf="!isLoadingByPhone">{{ 'SIGNIN_WITH_PHONE' | translate }}</span>
                </ion-button>
                
                <ion-button type="button" expand="block" color="tertiary" class="form-btns" (click)="onLoginButtonTouched()">
                    <ion-icon slot="start" name="call-outline" color="light"></ion-icon>
                    <span>{{ 'LOGINWITHMAIL' | translate }}</span>
                </ion-button>



                <ion-item (click)="onSignUpButtonTouched()" lines="none">
                    <ion-text slot="start">
                        <p no-padding no-margin class="graycolorbtn">
                            {{ 'NO_ACCOUNT_YET_CREATE_ONE' | translate }}
                        </p>
                    </ion-text>
                    <ion-text slot="end">
                        <p no-padding no-margin class="oragecolorbtn">
                            {{ 'REGISTER_NOW' | translate }}
                        </p>
                    </ion-text>
                </ion-item>

                <ion-button expand="block" color="dark" fill="clear" class="form-btns" (click)="onSkipLogin()">
                    <span>{{ 'SKIP_LOGIN' | translate }}</span>
                </ion-button>



            </form>

        </div>

    </div>


    <div *ngIf="showLoginForm">

        <div class="outerform">

            <form padding [formGroup]="form" (ngSubmit)="onLogin()" novalidate autocomplete="off" class="loginformdesign">

                <div class="heading-portion" style="margin-bottom: 10px;">
                    <h4>{{ 'LOGINMAIL_HEADING' | translate }}</h4>
                </div>

                <ion-item color="light" lines="none" text-center style="border-radius: 10px; margin-bottom: 10px; margin-top: 10px;">
                    <ion-input type="text" formControlName="email" [placeholder]="'EMAIL' | translate">
                    </ion-input>
                </ion-item>

                <ion-item color="light" lines="none" text-center style="border-radius: 10px; ">
                    <ion-input type="password" formControlName="password" [placeholder]="'PASSWORD' | translate">
                    </ion-input>
                </ion-item>

                <ion-button margin-top type="submit" expand="block" color="tertiary" class="form-btns" [disabled]="isLoadingByFacebook || isLoadingByUsername">
                    <ion-spinner color="primary" *ngIf="isLoadingByUsername"></ion-spinner>
                    <span *ngIf="!isLoadingByUsername">{{ 'LOGIN' | translate }}</span>
                </ion-button>
                <ion-button expand="block" color="tertiary" class="form-btns" (click)="onOtpButtonTouched()">
                    <span>{{ 'OTP_SIGN' | translate }}</span>
                </ion-button>
                <ion-button expand="block" color="tertiary" fill="clear" class="form-btns" (click)="onForgotPasswordButtonTouched()">
                    <span>{{ 'FORGOT_PASSWORD' | translate }}</span>
                </ion-button>
                <ion-button expand="block" color="tertiary" fill="clear" class="form-btns" (click)="onSignUpButtonTouched()">
                    <span>{{ 'NO_ACCOUNT_YET_CREATE_ONE' | translate }}</span>
                </ion-button>
                <ion-button expand="block" color="dark" fill="clear" class="form-btns" (click)="onSkipLogin()">
                    <span>{{ 'SKIP_LOGIN' | translate }}</span>
                </ion-button>

                <!-- <ion-row>
          <ion-col size="6" text-start>
            <ion-text color="light">
              <p class="bold" tappable >
                {{ 'FORGOT_PASSWORD' | translate }}
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="6" text-end>
            <ion-text color="tertiary">
              <p class="bold" tappable >
                {{ 'NO_ACCOUNT_YET_CREATE_ONE' | translate }}
              </p>
            </ion-text>

          </ion-col>
        </ion-row> -->

            </form>

        </div>







    </div>

    <div *ngIf="showSignUpForm">

        <div class="outerform">
            <form padding [formGroup]="form" (ngSubmit)="onSignUp()" novalidate padding class="loginformdesign">
                                
                <div class="heading-portion">
                    <h3>{{ 'REGISTER_HEADING' | translate }}</h3>
                    <ion-text>
                        <p no-margin>{{ 'REGISTER_DESC' | translate }}</p>
                    </ion-text>
                </div>
                
                <ion-item color="light" lines="none" text-center style="border-radius: 10px; margin-bottom: 10px; margin-top: 10px;">
                    <ion-input type="text" formControlName="username" [placeholder]="'NAME' | translate">
                    </ion-input>
                </ion-item>
                <ion-item color="light" lines="none" text-center style="border-radius: 10px; margin-bottom: 10px; ">
                    <ion-input type="text" formControlName="email" [placeholder]="'EMAIL' | translate">
                    </ion-input>
                </ion-item>

                <ion-item-group class="country-flag-outer" style="border-radius: 10px; margin-bottom: 10px; ">
                    <!-- <ion-list-header no-padding>
            <ion-label text-capitalize>{{ 'PHONE' | translate }}</ion-label>
          </ion-list-header> -->
                    <ion-grid no-padding>
                        <ion-row no-padding align-items-center class="dark-input">
                            <ion-col size="2">
                                <img class="fflag" src="assets/imgs/flags/iq.png" style="height: 24px;">
                            </ion-col>
                            <ion-col size="8">
                                <ion-input  text-center type="tel" formControlName="phone" [placeholder]="'CONTACT_NUMBER' | translate"></ion-input>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item-group>

                <!-- <ion-item color="light" lines="none" margin-bottom>
          <ion-input type="email" formControlName="email" [placeholder]="'EMAIL' | translate"></ion-input>
        </ion-item> -->

                <!-- <ion-text color="light">
          <p>
            <small>{{ 'EMAIL_FIELD_HELP' | translate }}</small>
          </p>
        </ion-text> -->

                <ion-item color="light" lines="none" margin-bottom text-center style="border-radius: 10px; margin-bottom: 10px; ">
                    <ion-input [type]="!showPass ? 'password' : 'text' " formControlName="password" [placeholder]="'PASSWORD' | translate">
                    </ion-input>
                    <ion-button *ngIf="!showPass" fill="clear" color="dark" type="button" slot="end" (click)="this.showPass = !this.showPass;">
                        <ion-icon name="eye-off"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="showPass" fill="clear" color="dark" type="button" slot="end" (click)="this.showPass = !this.showPass;">
                        <ion-icon name="eye"></ion-icon>
                    </ion-button>
                </ion-item>

                <ion-text color="tertiary" text-center>
                    <p no-margin>
                        <small>{{ 'PASSWORD_VALIDATION_MSG' | translate }}</small>
                    </p>
                </ion-text>

                <!-- <ion-row justify-content-center>
          <ion-col size-xs="8" size-md="6" text-center> -->
                <ion-button margin-vertical type="submit" color="tertiary" expand="block" [disabled]="isSignUpLoading">
                    <ion-spinner color="primary" *ngIf="isSignUpLoading"></ion-spinner>
                    <span *ngIf="!isSignUpLoading">{{ 'SIGN_UP' | translate }}</span>
                </ion-button>
                <!-- </ion-col>
        </ion-row> -->

                <!-- <ion-row justify-content-center>
          <ion-col size="6" text-center> -->
                <ion-button type="button" fill="clear" expand="block" color="tertiary" (click)="onLoginButtonTouched()">
                    {{ 'LOGINWITHMAIL' | translate }}
                </ion-button>
                <!-- </ion-col>
        </ion-row> -->

            </form>
        </div>
    </div>

</ion-content>