<ion-header no-border class="black-header" style="direction: ltr !important;">
    <ion-toolbar class="color-bg ion-no-padding ion-no-margin ion-no-border" fixed mode="ios" style="height: 65px; padding-top: 7px;">
        <div slot="start">
            <ion-button *ngIf="cangoback" fill="clear" color="light" (click)="goback()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>

            <ion-menu-toggle *ngIf="!cangoback">
                <ion-button [fill]="'clear'">
                    <!-- src="assets/imgs/Navbar-Menu.svg" -->
                    <!-- [color]="isColorBg ? 'primary' : ''" -->
                    <!-- <ion-icon name="menu" color="tertiary"></ion-icon> -->
                    <ion-icon class="menu-button-height" slot="icon-only" src="assets/imgs/NavbarSidemenu-White.svg"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </div>

        <ion-title *ngIf="!showLogo" color="white" class="header-title">{{title}}</ion-title>
        <ion-title *ngIf="showLogo"><img class="center-title-img" src="assets/imgs/logo_max-01.svg"></ion-title>

        <div slot="end">
            <ion-button *ngIf="showSearch" fill="clear" (click)="isSearchOn = !isSearchOn" class="no-side-paddings">
                <!-- <ion-icon [color]="isColorBg ? 'primary' : 'tertiary'" name="search"></ion-icon> -->
                <ion-icon class="menu-button-height" slot="icon-only" src="assets/imgs/NavbarSearch-White.svg"></ion-icon>
            </ion-button>
            <ion-button [fill]="'clear'" *ngIf="showLike" (click)="isLiked = !isLiked; onLike.emit(isLiked)" class="no-side-paddings" fill="clear" color="light">
                <ion-icon class="h-25px" slot="icon-only" [name]="isLiked? 'heart' : 'heart-empty'">
                </ion-icon>
            </ion-button>
            <ion-button [fill]="'clear'" (click)="openTab('cart')" class="no-side-paddings">
                <!-- src="assets/imgs/Navbar-Cart.svg" -->
                <ion-icon src="assets/imgs/NavbarCart-White.svg"></ion-icon>
                <!-- [ngClass]="{ 'purple-badge' : !isColorBg}"  -->
                <ion-badge color="tertiary" style="    background-color: #6c6c6c;
        width: 20px;
        height: 20px;" *ngIf="preference.cartCount">
                    {{ preference.cartCount || 0 }}
                </ion-badge>
            </ion-button>
        </div>

    </ion-toolbar>
    <!-- [ngClass]="{'color-bg': isColorBg }" -->
    <ion-toolbar [hidden]="!isSearchOn" class="header-search">
        <!-- showCancelButton="focus" -->
        <ion-searchbar (search)="SearchBy($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>