.color-bg {
  box-sizing: border-box;
  --background: linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%);
}

ion-title.gray {
  color: #ffffff;
}

ion-title.white {
  color: #ffffff;
}
// .purple-badge{
// 	background: white;
// 	color: #B71BD7;
// }
ion-button {
  --box-shadow: none;
  ion-badge {
    position: absolute;
    opacity: 0.9;
    top: 0.1rem;
    right: 0.2rem;
    & ~ ion-icon {
      margin-right: 1.2rem;
    }
  }
  box-shadow: none !important;
}

.menu-button-height {
  height: 1rem;
}

.no-side-paddings {
  --padding-start: 0;
}

.center-title-img {
  height: 32px;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  transform: translate(-50%, -40%);
}

.header-search {
  .sc-ion-searchbar-ios-h {
    padding-top: unset !important;
    padding-bottom: unset !important;
  }
}
