ion-content {
  --background: var(--ion-background-gray);
}

.bg-white {
  background: white;
}

ion-slides {
  background: #fff;
  height: 270px;

  .slide {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 250px;
    width: 50%;
  }
  .slide.bg-img {
    background-position: center;
    background-size: contain;
    background-color: white;
    width: 100%;
    height: 100%;
  }
}

span.discount-lb {
  position: absolute;
  top: 20px;
  left: 300px;
  z-index: 10;
  background: #f7991e;
  color: white;
  padding: 0px 10px;
  border-radius: 7px;
}

.icon-share {
  font-size: 48px;
}

ul,
ol {
  padding-left: 16px;

  li {
    margin-bottom: 12px;
  }
}

.btn-add-to-cart {
  // --ion-color-base: var(--ion-background-theme-green-gradient) !important;
  // margin-right: 10%;
  // --ion-color-contrast: unset !important;
}

.ir-price.bold {
  font-size: 2em;
}
// .linethrough::after{
//     content: "";
//     width: 100%;
//     height: 1px;
//     background: black;
//     position: absolute;
//     bottom: -10px;
//     left: 0;
// }

.linethrough {
  text-decoration: line-through;
  color: grey;
}
.priceline {
  font-size: 14px;
  margin: 0;
  .bold-rate {
    font-size: 20px;
  }
}

.btn-height {
  height: 40px;
  border-radius: 7px;
  --padding-start: 7px;
  --padding-end: 7px;
}

.greyborder {
  border-top-style: solid;
  border-bottom-style: solid;

  border-top-color: lightgray;
  border-bottom-color: lightgray;

  border-top-width: 5px;
  border-bottom-width: 5px;
}

.roundedfilledback {
  height: 35px;
  width: 35px;
  background-color: #f7991e;
  border-radius: 50%;
  margin-left: 5px;
}

.vendorarea {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}

.sociallogobox1 {
  background: #039be5 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  width: 40px;
  height: 40px;
}

.para-custom-4 {
  opacity: 0.2;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

ion-select {
  width: 100%;
  justify-content: center;
  max-width: 100%;
}

.rating-box {
  border-radius: 50px;
  text-align: center;
}
