<!-- <ion-header no-border> -->

<!-- <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" class="mx-5" [disabled]="!item" (click)="onLike()">
        <ion-icon class="h-25px" src="assets/imgs/AddToWishlist.svg" slot="icon-only" [name]="isLiked? 'heart' : 'heart-empty'" color="light">
        </ion-icon>
      </ion-button>
      <ion-button class="btn-share" [disabled]="!item" (click)="onShare()">
        <ion-icon class="h-25px" slot="icon-only" src="assets/imgs/ShareItem.svg" name="share"></ion-icon>
      </ion-button>
	  <ion-button (click)="goToCartPage()" [disabled]="!item">
        <ion-icon class="h-25px" src="assets/imgs/Navbar-Cart.svg"></ion-icon>
        <ion-badge color="light" class="red-badge"
          *ngIf="preference.cartCount">
          {{ preference.cartCount || 0 }} 
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
<!-- </ion-header> -->
<app-black-header [title]="item?.name" [cangoback]="true" [showLike]="true" [isLiked]="isLiked"
    (onLike)="onLike($event)"></app-black-header>

<ion-content #container scrollEvents="true">

    <section *ngIf="isLoadingViewVisible">

        <div padding-start padding-end>
            <ngx-skeleton-loader count="1"
                [theme]="{ width: '100%', height: '250px', 'border-radius': '4px', 'background-color': '#F3F3F3' }">
            </ngx-skeleton-loader>
        </div>

    </section>
    <section *ngIf="!isLoadingViewVisible">

        <span class="discount-lb" *ngIf="item.discount && preference.lang == 'en'">
            {{ item.discount | percent }}
        </span>
        <span class="discount-lb" *ngIf="item.discount && preference.lang == 'ar'">
            {{ exrate.discountFormatString(item['percent']) }}
        </span>

        <web-social-share (closed)="webSocialShare.onClosed()" [show]="webSocialShare.show"
            [share]="webSocialShare.share">
            <ion-icon class="icon-share" name="logo-facebook" slot="facebook" color="fb"></ion-icon>
            <ion-icon class="icon-share" name="logo-twitter" slot="twitter" color="twitter"></ion-icon>
            <ion-icon class="icon-share" name="logo-whatsapp" slot="whatsapp" color="whatsapp"></ion-icon>
        </web-social-share>

        <!-- <ion-slides #slides [pager]="false" selector=".bg-img" (ionSlideTap)="openImage($event , item['image_firebase_url'])" (ionSlidesDidLoad)="onSlidesDidLoad($event)" (ionSlideWillChange)="onSlidesWillChange($event)" *ngIf="item">
            <ion-slide> -->
        <!-- <ion-img [src]="item['image_firebase_url']" (tapClick)="openImage(item['image_firebase_url'])"> -->
        <!-- <div class="slide bg-img" [attr.imageSrc]="item['image_firebase_url']" [attr.thumbSrc]="item['image_firebase_url']" [lazyLoad]="item['image_firebase_url']" [scrollObservable]="slidesObservable" defaultImage="assets/imgs/placeholder-large.jpg">
            </div> -->
        <!-- </ion-img> -->

        <ion-row>
            <ion-col size-xs="12" size-lg="6">
                <!-- Slide List -->
                <div class="border-light">
                    <ion-slides class="main" #slides pager selector=".bg-img"
                        (ionSlidesDidLoad)="onSlidesDidLoad($event)" (ionSlideWillChange)="onSlidesWillChange($event)">
                        <ion-slide>
                            <div class="slide bg-img" [attr.imageSrc]="item['image_firebase_url']"
                                [attr.thumbSrc]="item['image_firebase_url']" [lazyLoad]="item['image_firebase_url']"
                                [scrollObservable]="slidesObservable" defaultImage="assets/imgs/placeholderlight.gif">
                            </div>
                        </ion-slide>
                        <ion-slide *ngFor="let photo of item?.gallery_images">
                            <div class="slide bg-img" [attr.imageSrc]="photo.firebase_url"
                                [attr.thumbSrc]="photo.firebase_url" [lazyLoad]="photo.firebase_url"
                                [scrollObservable]="slidesObservable"
                                defaultImage="./assets/imgs/placeholder-large.jpg">
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>

                <div>

                </div>
            </ion-col>
        </ion-row>

        <!-- </ion-slide>
        </ion-slides> -->

        <ion-grid fixed no-padding class="bg-white">

            <ion-row justify-content-center>
                <ion-col size-xs="12" size-lg="10" class="greyborder">

                    <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
                    </empty-view>

                    <empty-view *ngIf="isEmptyViewVisible" icon="alert" [text]="'EMPTY_DATA' | translate">
                    </empty-view>

                    <div *ngIf="isLoadingViewVisible">

                        <ion-row>
                            <ion-col size-xs="12" size-lg="6">
                                <ngx-skeleton-loader count="1"
                                    [theme]="{ 'border-radius': '0', margin: '0 0 16px', height: '250px', width: '100%', 'background-color': '#F2F2F2' }">
                                </ngx-skeleton-loader>
                            </ion-col>
                            <ion-col size-xs="12" size-lg="6">
                                <ngx-skeleton-loader count="4"
                                    [theme]="{ 'border-radius': '0', height: '10px', 'background-color': '#F2F2F2' }">
                                </ngx-skeleton-loader>
                            </ion-col>
                        </ion-row>

                        <ion-row margin-vertical class="bg-light">
                            <ion-col>
                                <div padding>
                                    <ngx-skeleton-loader count="16"
                                        [theme]="{ 'border-radius': '0', height: '10px', 'background-color': '#F2F2F2' }">
                                    </ngx-skeleton-loader>
                                </div>
                            </ion-col>
                        </ion-row>

                    </div>

                    <div *ngIf="isContentViewVisible">


                        <ion-row>
                            <ion-col size="12">
                                <ion-text text-center style="margin-top: -10px; margin-bottom: -10px;">
                                    <p class="bold unset-top-bottom-margin text-large">{{ item?.name }}</p>
                                </ion-text>
                                <!--- <ion-col size="12">--->
                                <ion-text text-center color="tertiary">
                                    <p class="priceline"><span class="currency"
                                            *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span><span
                                            class="bold-rate bold" *ngIf="item['saleprice'] !== 0 "
                                            text-medium>{{exrate.iraqiRate(item['saleprice']) }}&nbsp;</span>
                                        <span class="normal-rate"
                                            [ngClass]="{'linethrough': item['saleprice'] !== 0 }"><span></span>{{  exrate.iraqiRate(item.price) }}</span><span
                                            class="currency"
                                            *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span></p>
                                </ion-text>
                                <ion-text text-center style="display: inline">
                                    <ionic4-star-rating (click)="gotoRatings()" #rating activeIcon="ios-star"
                                        defaultIcon="ios-star" activeColor="#FF9D0C" defaultColor="#CECECE"
                                        readonly="true" [rating]="getRatingNumber()" fontSize="26px">
                                    </ionic4-star-rating>
                                </ion-text>
                            </ion-col>
                            <!--</ion-col>-->
                        </ion-row>
                    </div>
                </ion-col>
            </ion-row>

        </ion-grid>
        <!-- <ion-grid fixed no-padding class="bg-white">

      <ion-row>
        <ion-col size="10">
          <div style="font-weight:bold;">
            <ion-text color="light" slot="end" style="text-align:end">
              <p>المتجر</p>
            </ion-text>
            <ion-button text-uppercase size="small" expand="block" fill="outline" color="tertiary" class="btn-height"
              [disabled]="isAddingToCart" (click)="onAddToCart()" style="position:absolute; bottom: 15px;" slot="start">
              <ion-icon slot="start" src="assets/imgs/MAX_Store_Assters/OpenVendorPage.svg"></ion-icon>
              <ion-text color="tertiary" slot="start">
                فتح المتجر
              </ion-text>
            </ion-button>
          </div>
          ---
          <div *ngIf="isContentViewVisible">
  
            <ion-row>
              <ion-col>
                <div padding>
                  <div text-justify [innerHTML]="itemDescription"></div>
                </div>
              </ion-col>
            </ion-row>
  
          </div>
 
        </ion-col>
      </ion-row>

    </ion-grid> -->

        <app-share-box [vendor_id]="item?.vendor" [item_id]="item?.$key" (socialShare)="onShare($event)">
        </app-share-box>

        <ion-grid fixed no-padding class="bg-white greyborder">
            <ion-text color="dark">
                <p class="text-medium text-center bold para-custom-4 ion-padding">{{ 'PRODUCT_DETAILS' | translate }}
                </p>
            </ion-text>
            <ion-row justify-content-center>
                <ion-col size-xs="12" size-lg="10" padding>
                    <div text-justify [innerHTML]="itemDescription"></div>
                </ion-col>
            </ion-row>

            <ion-item *ngIf="sizes.length > 0">
                <ion-select #sizeSelect placeholder="{{ 'SIZE' | translate }}" [(ngModel)]="selectedSize"
                    [interfaceOptions]="sizeActionSheetOptions" interface="action-sheet"
                    (ionChange)="onSizeChange($event)">
                    <ion-select-option *ngFor="let size of sizes" [value]="size">
                        {{size['size'] ? size['size'] : size}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="devices.length > 0">
                <ion-select #deviceSelect placeholder="{{ 'DEVICE' | translate }}" [(ngModel)]="selectedSize"
                    [interfaceOptions]="deviceActionSheetOptions" interface="action-sheet"
                    (ionChange)="onDeviceChanged($event)">
                    <ion-select-option *ngFor="let device of devices" [value]="device">
                        {{device}}</ion-select-option>
                </ion-select>
            </ion-item>
            
            <ion-item *ngIf="colors.length > 0">
                <ion-select #colorSelect placeholder="{{ 'COLOR' | translate }}" [(ngModel)]="selectedColor"
                    [interfaceOptions]="colorActionSheetOptions" interface="action-sheet"
                    (ionChange)="onColorChange($event)">
                    <ion-select-option *ngFor="let color of colors" [value]="color">{{color}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-grid fixed no-padding
                style="background-color: #E8E7E7; padding-top: 15px; padding-bottom: 10px; padding-right: 5px; padding-left: 5px;">
                <ion-row class="scrollable no-shadow" [@staggerIn]="featuredItems.length">
                    <ion-col size-xs="4.25" *ngFor="let item of featuredItems" style="margin: 0;"
                        (click)="goToItemPage(item)">
                        <app-item-block [item]="item" [showCartIcon]="false"></app-item-block>
                    </ion-col>
                </ion-row>
            </ion-grid>


        </ion-grid>

    </section>


</ion-content>
<ion-footer>
    <ion-row class="qty-block px-5 bg-white">
        <ion-col size="6">
            <ion-button float-left text-uppercase text-center size="small" color="dark" text-large class="btn-height"
                [disabled]="item?.qty <= 1" (click)="decrementQuantity(); $event.stopPropagation()" shape="round">
                <ion-icon slot="icon-only" name="ios-remove" color="light"></ion-icon>
            </ion-button>
            <ion-button float-left text-uppercase text-center size="small" color="dark" text-large fill="clear"
                class="btn-height bold" (click)="$event.stopPropagation()">
                {{item?.qty}}
            </ion-button>
            <ion-button float-left text-uppercase text-center size="small" color="dark" text-large class="btn-height"
                (click)="incrementQuantity(); $event.stopPropagation()" shape="round">
                <ion-icon slot="icon-only" name="ios-add" color="light"></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col size="6">
            <ion-button text-uppercase text-center size="small" expand="block" color="tertiary" class="btn-height"
                [disabled]="isAddingToCart" (click)="onAddToCart($event)" shape="round">
                <ion-spinner color="light" *ngIf="isAddingToCart"></ion-spinner>
                <span *ngIf="!isAddingToCart"
                    style="color:#ffff; font-weight: bold">{{ 'ADD_TO_CART' | translate }}</span>
                <ion-icon slot="end" src="assets/imgs/NavbarCart-White.svg"></ion-icon>
            </ion-button>
        </ion-col>

    </ion-row>

</ion-footer>