<app-black-header title="{{ 'APP_NAME' | translate }}" [isColorBg]="false" [showLogo]="true" [showSearch]="true" (searchtext)="onSearch($event)">
</app-black-header>
<ion-content #container scrollEvents="true" class="">

    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)" class="pullrefresh-gradient-background">
        <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}" refreshingText="{{ 'REFRESHING' | translate }}" class="pullrefresh-gradient-background">
        </ion-refresher-content>
    </ion-refresher>

    <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <ion-grid no-padding>

        <div *ngIf="isContentViewVisible">

            <div class="outerslide" padding>
                <!-- Top Slide List -->
                <div class="fixed-gradient-background"></div>
                <ion-slides (ionSlidesDidLoad)="onSlidesDidLoad()" (ionSlideTouchEnd)="ionSlideTouchEnd($event)" [options]="slidesConfig" loop="true" pager="true" *ngIf="slides.length">
                    <ion-slide *ngFor="let slide of mainBanners" style="margin: 0 !important;">
                        <div tappable class="slidestyle" (click)="onSlideTouched(slide)">
                            <img [src]="slide.firebase_url" class="slider-image-ratio" [lazyLoad]="slide" [scrollObservable]="loadAndScroll" />
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>

            <!-- ITEM LIST-->

            <ion-row margin-vertical class="scrollable" *ngIf="itemsOnSale.length" [@staggerIn]="itemsOnSale.length">
                <ion-col size="4.25" text-center *ngFor="let item of itemsOnSale" (click)="goToItemPage(item)">
                    <app-item-block class="w-100" style="display: block;" [item]="item" [showCartIcon]="false"></app-item-block>
                </ion-col>
            </ion-row>
            <!-- <ion-row class="scrollable no-shadow" style="background-color:#d3d3d3 !important;margin: 0; padding: 10px;"
        [@staggerIn]="items.length">
        <ion-col size-xs="4" *ngFor="let item of items" style="margin: 0;" (click)="goToItemPage(item)">
          <app-item-block [item]="item" [showCartIcon]="false"></app-item-block>
        </ion-col>
      </ion-row> -->


            <!-- Category List -->
            <div class="container">

                <ion-row style="    padding-left: 10px;
        padding-right: 10px;">
                    <ion-col size="6" class="ion-text-start">
                        <ion-text color="textgray">
                            {{ 'CATEGORIES' | translate }}
                            <!-- <p class="h-35">كل الاقسام &gt;</p> -->
                        </ion-text>
                    </ion-col>
                    <ion-col size="6" class="ion-text-end">
                        <ion-text (click)="navigateTo('1/browse')">
                            {{ 'VIEW_ALL' | translate }}
                        </ion-text>
                    </ion-col>
                </ion-row>





                <ion-row class="scrollable no-shadow" *ngIf="categories.length" [@staggerIn]="categories.length" style="    padding-left: 10px;
        padding-right: 10px;">

                    <ion-col class="all-categories ion-text-center" no-padding size-xs="5.15" *ngFor="let category of categories" (click)="onCategoryTouched(category)">
                        <category-image-box [category]="category"></category-image-box>
                    </ion-col>
                </ion-row>
            </div>

            <!-- FEATURED PRODUCTS START-->
            <ion-grid class="bggray relative">
                <div class="featured-banner-outer"></div>
                <ion-slide padding *ngFor="let banner of featuredBanners" (click)="openFeaturedItems()">
                    <div tappable class="featured-banner">
                        <img class="round-border" [src]="banner.firebase_url" />
                    </div>
                </ion-slide>

                <ion-row class="scrollable no-shadow" [@staggerIn]="items.length">
                    <ion-col size-xs="4.25" *ngFor="let item of featuredItems" style="margin: 0;" (click)="goToItemPage(item)">
                        <app-item-block class="w-100" style="display: block;" [item]="item" [showCartIcon]="false"></app-item-block>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <!-- CATEGORIES START-->
            <!-- <div class="ion-no-margin ion-no-padding no-shadow">
        <ion-slide style="margin: 0 !important;">
          <div tappable class="category-banner">
            <img [src]="category_banners[0].url" class="slider-image-ratio" />
          </div>
        </ion-slide>
      </div> -->

            <!-- <ion-row class="scrollable no-shadow" style="background-color:#d3d3d3 !important;margin: 0; padding: 10px;"
        [@staggerIn]="items.length">
        <ion-col size-xs="4.25" *ngFor="let item of items" style="margin: 0;" (click)="goToItemPage(item)">
          <app-item-block [isSale]="true" [item]="item" [showCartIcon]="false"></app-item-block>
        </ion-col>
      </ion-row> -->

            <!-- <div class="ion-no-margin ion-no-padding no-shadow">
        <ion-slide style="margin: 0 !important;">
          <div tappable class="category-banner">
            <img [src]="category_banners[0].url" class="slider-image-ratio" />
          </div>
        </ion-slide>
      </div> -->

            <!-- <ion-row class="scrollable no-shadow" style="background-color:#d3d3d3 !important;margin: 0; padding: 10px;"
        [@staggerIn]="items.length">
        <ion-col size-xs="4.25" *ngFor="let item of items" style="margin: 0;" (click)="goToItemPage(item)">
          <app-item-block [item]="item" [showCartIcon]="false"></app-item-block>
        </ion-col>
      </ion-row> -->
            <!-- Section Parallex Scroll Starts-->
            <!-- <div no-margin no-padding no-shadow class="parallax px-3 py-3" (click)="onViewAll({ sale: '1' })">
        <home-banner [slides]="saleBanners"></home-banner>
      </div> -->
            <!-- Section Parallex Scroll Ends-->

            <!-- SUB SECTION AREA-->
            <!-- ITEM SALE AREA-->
            <!--<ion-row margin-vertical class="scrollable" *ngIf="itemsOnSale.length" [@staggerIn]="itemsOnSale.length">
        <ion-col size="3.5" text-center *ngFor="let item of itemsOnSale" (click)="goToItemPage(item)">
          <app-item-block [item]="item" [showCartIcon]="false"></app-item-block>
        </ion-col>
      </ion-row> -->

            <!-- On Sale -->

            <!-- Section Parallex Scroll Starts-->
            <!-- <div no-margin no-padding no-shadow class="parallax px-3 py-3" (click)="onViewAll({ featured: '1' })">
        <home-banner [slides]="featuredBanners"></home-banner>

      </div> -->

            <!-- Section Parallex Scroll Ends-->

            <!-- Section Parallex Scroll Starts-->
            <!-- <div no-margin no-padding no-shadow class="parallax px-3 py-3" (click)="onViewAll({ new: '1' })">
        <home-banner [slides]="newBanners"></home-banner>
      </div> -->

            <!-- Section Parallex Scroll Ends-->




            <!-- New Arrival -->

            <!-- <section margin-vertical *ngIf="itemsNewArrival.length" style="margin-top: var(--ion-margin, 0px);">
        <ion-row items-center style="background-color: white;">
          <ion-col no-padding size="6" text-start>
            <ion-button text-right size="small" color="secondary" fill="clear">
              {{ 'NEW_ARRIVAL' | translate }}
            </ion-button>
          </ion-col>
          <ion-col no-padding size="6" text-end>
            <ion-button text-right size="small" color="secondary" fill="clear" (click)="onViewAll({ new: 1 })">
              {{ 'VIEW_ALL' | translate }} &nbsp; <ion-icon class="blue-color" src="assets/imgs/svg_md-expand.svg">
              </ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row margin-vertical>
          <ion-col size="4" *ngFor="let item of itemsNewArrival" (click)="goToItemPage(item)">
            <app-item-block [item]="item" [showCartIcon]="false"></app-item-block>
          </ion-col>
        </ion-row>
      </section> -->




            <!-- <section *ngIf="itemsOnSale.length" style="margin-top: var(--ion-margin, 0px);">
        <ion-row items-center class="white-bg" style="background-color: white;">
          <ion-col no-padding size="6" text-start>
            <ion-button text-right size="small" color="secondary" fill="clear">
              {{ 'ON_SALE' | translate }}
            </ion-button>
          </ion-col>
          <ion-col no-padding size="6" text-end>
            <ion-button text-right size="small" color="secondary" fill="clear" (click)="onViewAll({ sale: 1 })">
              {{ 'VIEW_ALL' | translate }} &nbsp; <ion-icon class="blue-color" src="assets/imgs/svg_md-expand.svg">
              </ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        
        <ion-row margin-vertical>
          <ion-col size="4" *ngFor="let item of itemsOnSale" (click)="goToItemPage(item)">
            <app-item-block [item]="item" [showCartIcon]="true"></app-item-block>
          </ion-col>
        </ion-row>

        

      </section> -->






            <!-- Featured -->

            <!-- <section *ngIf="itemsFeatured.length">
        <ion-row items-center class="white-bg">
          <ion-col no-padding size="6" text-start>
            <ion-button text-right size="small" color="secondary" fill="clear">
              {{ 'FEATURED' | translate }}
            </ion-button>
          </ion-col>
          <ion-col no-padding size="6" text-end>
            <ion-button text-right size="small" color="secondary" fill="clear" (click)="onViewAll({ featured: 1 })">
              {{ 'VIEW_ALL' | translate }} &nbsp; <ion-icon class="blue-color" src="assets/imgs/svg_md-expand.svg">
              </ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row margin-vertical>
          <ion-col size="4" *ngFor="let item of itemsFeatured" (click)="goToItemPage(item)">
            <app-item-block [item]="item" [showCartIcon]="false"></app-item-block>
          </ion-col>
        </ion-row>

      </section> -->

            <!-- Category Section -->
            <div *ngFor="let category of insertedcategories">
                <category-combo-box [category]="category" [slides]="slides" (openItem)="goToItemPage($event)" (openCategory)="onCategoryTouched($event)"></category-combo-box>
            </div>





            <!-- Random items -->

            <!-- <div margin-vertical>
        <ion-row padding-horizontal>
          <ion-col size="12" text-center>
            <ion-text style="color:#CBD0D9">
              <span text-capitalize class="text-large nowrap">
                {{ 'EXPLORE' | translate }}
              </span>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4" *ngFor="let item of items" (click)="goToItemPage(item)">
            <app-item-block [item]="item"></app-item-block>
          </ion-col>

        </ion-row>
      </div> -->

            <ion-infinite-scroll (ionInfinite)="onLoadMore($event)">
                <ion-infinite-scroll-content style="min-height: 22px;"></ion-infinite-scroll-content>
            </ion-infinite-scroll>

        </div>

        <section *ngIf="isLoadingViewVisible">

            <!-- class="light-bg" -->


            <div padding-start padding-end>
                <ngx-skeleton-loader count="1" [theme]="{ width: '100%', height: '250px', 'border-radius': '4px', 'background-color': '#F3F3F3' }">
                </ngx-skeleton-loader>
            </div>

            <div padding-start padding-end>
                <ion-row nowrap text-center>
                    <ion-col size-xs="3" *ngFor="let item of skeletonArray">
                        <ngx-skeleton-loader count="1" [theme]="{ width: '60px', height: '60px', 'background-color': '#F3F3F3' }">
                        </ngx-skeleton-loader>
                    </ion-col>
                </ion-row>
            </div>

            <div padding-start padding-end>
                <ngx-skeleton-loader count="1" [theme]="{ width: '100%', height: '60px', 'border-radius': '4px', 'background-color': '#F3F3F3' }">
                </ngx-skeleton-loader>
            </div>


            <ion-row nowrap margin-top>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" text-center *ngFor="let item of skeletonArray">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '100%', height: '230px', 'border-radius': '4px', margin: '0', 'background-color': '#F3F3F3' }">
                    </ngx-skeleton-loader>
                </ion-col>
            </ion-row>

            <ion-row nowrap>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" text-center *ngFor="let item of skeletonArray">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '100%', height: '230px', 'border-radius': '4px', margin: '0', 'background-color': '#F3F3F3' }">
                    </ngx-skeleton-loader>
                </ion-col>
            </ion-row>

            <ion-row nowrap>
                <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="3" text-center *ngFor="let item of skeletonArray">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{ width: '100%', height: '230px', 'border-radius': '4px', margin: '0', 'background-color': '#F3F3F3' }">
                    </ngx-skeleton-loader>
                </ion-col>
            </ion-row>
        </section>

    </ion-grid>

</ion-content>