ion-content {
  // --background: var(--ion-background-gray);
  // background-color: #e8e7e7 !important;
}
ion-slides {
  // --bullet-background: transparent;
  // --bullet-background-active: var(--ion-color-gray-shade);
  .slidestyle {
    background-color: #dedede !important;
    width: 100% !important;
    margin: 0 auto;
    border-radius: 10px;
  }
  ion-slide img {
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
  }
}

.w-100{
  width: 100%;
}

.vendor-slide {
  background-color: #dedede !important;
  width: 100% !important;
  margin: 0 auto;
  height: 138px;
  border-radius: 10px;
}

.pullrefresh-gradient-background{
  background: linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%);
  color: white;
}

.fixed-gradient-background {
  background: linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%);
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.featured-banner-outer{
  background: linear-gradient(to bottom, white 60px, var(--ion-color-bggray) 50px,  var(--ion-color-bggray) );
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

img.round-border{
  border-radius: 9px !important;
}



.white-background {
  background-color: #ffffff;
}

ion-slides {
  // --bullet-background: transparent;
  // --bullet-background-active: var(--ion-color-gray-shade);
  border-radius: 15px;

  ion-slide img {
    border-radius: 15px;
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
  }
}

// .scrollable {
//     ion-card {
//         //width: 175px !important;
//         // border-radius: 10px !important;
//         border: solid 3px #9EE9C6;
//         // padding: 1px;
//         background-clip: content-box; /* support: IE9+ */
//         // background-color: #fff;
//         // box-shadow: 0px 10px 15px rgba(0,0,0,0.05);
//     }
// }
.height-morethen-width {
  height: 8rem;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
}
.green-border {
  border: solid 3px #9ee9c6;
  background-clip: content-box; /* support: IE9+ */
}

ion-row[nowrap] {
  overflow: hidden;
}

.nowrap {
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
app-item-block {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.gray-color-1 {
  color: #b3bccc;
}

@media (min-width: 992px) {
  ion-slides ion-slide img {
    width: 100%;
  }

  .scrollable {
    white-space: normal;
    flex-wrap: wrap;
    justify-content: center;
  }

  .circle {
    width: 150px;
    height: 80px;
  }
}

.parallax {
  position: relative;
  text-align: center;

  .card-center {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
  }
}

.banner-card-subheader {
  letter-spacing: 10px;
  font-weight: normal;
}

.banner-card-header {
  font-size: 1.5em;
  letter-spacing: 3px;
}

.white-bg {
  --background: white;
  background: white;
}

.slider-image-ratio {
  height: 178px !important;
}

.h-35 {
  font-size: 12px;
  margin-left: 25px;
  margin-bottom: 2px;
  margin-top: 2px;
  color: #161616;
  letter-spacing: 0px;
  float: left;
}

.h-34 {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 18px;
  font-size: 16px;
  color: #a1a1a1;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.category-banner {
  width: 150px;
  height: 80px;
}

.all-vendors {
  p {
    color: #656d79;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    font-size: 0.7em;
    text-align: center;
    background: white;
  }
  .max-vendors {
    width: 89px;
    height: 89px;
    padding: 0;
    background-clip: content-box; /* support: IE9+ */
    background-color: #fff;
    box-shadow: 0px 5px 5px #0000000d;
    border: 1px solid #cccccc;
    border-radius: 15px;
  }
}

.featured-banner {
  
  img {
    
    width: 100%;
    object-fit: cover
  }
}

.featured-block {
  background: #d3d3d3;
  height: 150px;
  margin-bottom: 113px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.outerslide{
  position: relative;
  background: #e8e7e7;
}



.bggray{
  background: var(--ion-color-bggray);
}
.relative{
  position: relative;
}
