<!-- <ion-header no-border>

  <ion-toolbar color="primary" fixed>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CHECKOUT' | translate }}</ion-title>
  </ion-toolbar>

</ion-header> -->

<app-black-header title="{{ 'CHECKOUT' | translate }}" [cangoback]="true"></app-black-header>

<ion-content padding>

  <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_add_to_cart_vkjp.svg"
    [text]="'CART_EMPTY' | translate">
  </empty-view>

  <ion-grid fixed>

    <form [formGroup]="form" (ngSubmit)="onPlaceOrder()" #form1="ngForm" novalidate style="    position: relative;
    top: -20px;">

      <ion-row *ngIf="isContentViewVisible">
        <ion-col size-xs="12" size-lg="8">


          <ion-item-group>
            <ion-list-header no-padding>
              <ion-label text-capitalize style="    text-align: right;
              font-weight: bold;
              font-size: 14px !important;">{{ 'NAME' | translate }}</ion-label>
            </ion-list-header>
            <ion-list class="dark-input" no-padding style="border-radius: 10px;
            height: 40px;">
              <ion-input class="dark-input" text-center type="text" formControlName="name"
                placeholder="{{ 'WRITE_NAME' | translate }}" style="font-size: 14px;"></ion-input>
            </ion-list>
          </ion-item-group>

          <!-- <ion-item-group>
            <ion-list-header no-padding>
              <ion-label text-capitalize style="text-align: right;">{{ 'EMAIL' | translate }}</ion-label>
            </ion-list-header>
            <ion-list class="dark-input" no-padding>
              <ion-input class="dark-input" text-center type="text" formControlName="email"
                placeholder="{{ 'ENTER_EMAIL' | translate }}"></ion-input>
            </ion-list>
          </ion-item-group> -->


          <ion-item-group>
            <ion-list-header no-padding>
              <ion-label text-capitalize style="    text-align: right;
              font-weight: bold;
              font-size: 14px !important;">{{ 'PHONE' | translate }}</ion-label>
            </ion-list-header>
            <ion-grid>
              <ion-row align-items-center class="dark-input">
                <ion-col size="2">
                  <!-- <ion-chip outline="false"> -->
                  <!-- <ion-thumbnail> -->
                  <!-----  <img class="fflag" src="assets/imgs/flags/iq.png">----->
                  <!-- </ion-thumbnail> -->
                  <!-- <ion-label color="medium">+964</ion-label> -->
                  <!-- </ion-chip> -->
                </ion-col>
                <ion-col size="8">
                  <ion-input class="dark-input" style="border-radius: 10px;
                  height: 40px;" text-center type="tel" formControlName="contactNumber"
                    [placeholder]="'CONTACT_NUMBER' | translate" style="font-size: 14px;"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-group>

          <!-- <ion-list-header no-padding>
            <ion-label text-capitalize>{{ 'SHIPPING' | translate }}</ion-label>
          </ion-list-header> -->

          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col no-padding>
                <ion-item-group>
                  <ion-list-header no-padding>
                    <ion-label text-capitalize style="    text-align: right;
                    font-weight: bold;
                    font-size: 14px !important;">{{ 'ZONE' | translate }}</ion-label>
                  </ion-list-header>
                  <ion-list class="dark-input" no-padding style="border-radius: 10px;
                  height: 40px;">
                    <ion-select mode="ios" interface="popover" (ionChange)="onZoneChanged()" formControlName="zone"
                      placeholder="{{ 'CHOSE_ZONE' | translate }}">
                      <ion-select-option *ngFor="let zone of zones" [value]="zone.id" style="font-size: 14px;">
                        {{ zone.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-item-group>
              </ion-col>
              <ion-col size="1"></ion-col>
              <ion-col no-padding>
                <ion-item-group>

                  <ion-list-header no-padding>
                    <!---  <ion-label text-capitalize style="text-align: right;">{{ 'SUBZONE' | translate }}</ion-label>-->
                  </ion-list-header>

                  <ion-list class="dark-input" no-padding style="border-radius: 10px;
                  height: 40px;">
                    <ion-select mode="ios" interface="popover" formControlName="subzone" class="dark-input"
                      placeholder="{{ 'CHOSE_SUBZONE' | translate }}" (ionChange)="onSubZoneChanged()">
                      <ion-select-option *ngFor="let subzone of selected_subzones" [value]="subzone.id" style="font-size: 14px;">
                        {{ subzone.name }}
                      </ion-select-option>
                    </ion-select>
                  </ion-list>
                </ion-item-group>
              </ion-col>
            </ion-row>
          </ion-grid>





          <ion-item-group>
            <ion-list-header no-padding>
              <ion-label text-capitalize style="    text-align: right;
              font-weight: bold;
              font-size: 14px !important;">{{ 'ORDER_NOTES' | translate }}</ion-label>
            </ion-list-header>
            <ion-list class="dark-input" no-padding style="border-radius: 10px;
            height: 40px;">
              <ion-input class="dark-input" rows="4" formControlName="address" style="font-size: 14px;" placeholder="{{ 'NOTES_CHECKOUT' | translate }}"></ion-input>
            </ion-list>
          </ion-item-group>


          <ion-item-group margin-vertical>

            <ion-item [lines]="last ? 'none' : 'full'" *ngFor="let item of cart?.items; let last = last">
              <ion-thumbnail slot="start">
                <img [src]="item.image_firebase_url">
              </ion-thumbnail>
              <ion-label>

                <p>{{ item.name }}</p>

                <ion-text>
                  <p class="priceline"><span class="currency text-medium"
                      *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span><span
                      class="bold-rate bold text-large"
                      *ngIf="item.saleprice">{{ exrate.iraqiRate(item.saleprice) }}&nbsp;</span><span
                      class="bold-rate bold text-large"
                      *ngIf="!item?.saleprice"><span></span>{{ exrate.iraqiRate(item.price) }}</span><span
                      class="currency text-medium" *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span>
                  </p>
                </ion-text>

                <ion-text *ngIf="item.selectedSize && item.selectedColor">
                  <span *ngIf="item.selectedSize">
                    <p><b>Size:</b> {{item.selectedSize}} </p>
                  </span>
                  <span *ngIf="item.selectedColor">
                    <p><b>Color:</b> {{item.selectedColor}} </p>
                  </span>
                </ion-text>
              </ion-label>

            </ion-item>
          </ion-item-group>


        </ion-col>

      </ion-row>

      <ion-grid *ngIf="!isLoadingViewVisible && !isErrorViewVisible">
        <ion-row align-items-center>
          <ion-col class="cart-total-col">
            <div class="cart-total" color="medium">
              <p>{{ 'TOTAL' | translate }}</p>
              <p class=""><span class="currency text-medium"
                  *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span><span
                  class="bold-rate bold text-large">{{ exrate.iraqiRate(cart?.total) }}&nbsp;</span><span
                  class="currency text-medium" *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span></p>
            </div>
          </ion-col>
          <ion-col class="cart-total-col">
            <div class="cart-total" color="medium">
              <p>{{ 'SHIPPING_FEE' | translate }}</p>
              <p class=""><span class="currency text-medium"
                  *ngIf="preference.lang == 'en'">{{ exrate.getCurrency() }}</span><span
                  class="bold-rate bold text-large">{{ exrate.iraqiFormat(cart?.shipping) }}&nbsp;</span><span
                  class="currency text-medium" *ngIf="preference.lang == 'ar'">{{ exrate.getCurrency() }}</span></p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="full" size="medium" color="tertiary" (click)="form1.ngSubmit.emit()">
              <ion-spinner color="tertiary" *ngIf="isCreatingOrder"></ion-spinner>
              <span *ngIf="!isCreatingOrder" class="bold">{{ 'PLACE_ORDER' | translate }}</span>
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </form>

    <ion-row margin *ngIf="isLoadingViewVisible">
      <ion-col size-xs="12" size-lg="8">
        <ngx-skeleton-loader count="1"
          [theme]="{ 'border-radius': '0', height: '120px', width: '100%', 'background-color': '#F2F2F2' }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1"
          [theme]="{ 'border-radius': '0', height: '120px', width: '100%', 'background-color': '#F2F2F2' }">
        </ngx-skeleton-loader>
        <ngx-skeleton-loader count="1"
          [theme]="{ 'border-radius': '0', height: '240px', width: '100%', 'background-color': '#F2F2F2' }">
        </ngx-skeleton-loader>
      </ion-col>
      <ion-col size-xs="12" size-lg="4">
        <ngx-skeleton-loader count="1"
          [theme]="{ 'border-radius': '0', height: '270px', width: '100%', 'background-color': '#F2F2F2' }">
        </ngx-skeleton-loader>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>