@media (max-width: 991px) {
    ion-grid, ion-grid > ion-row > ion-col {
        padding: 0 !important;
    }
}

.cart-total{
    // height: 80px;
    // margin-left: 10%;
    > span{
        // font-size: 15px;
        opacity: 0.5
    }
    p {
        margin: 0;
        padding: 0;
        // font-size: 20px;
        // line-height: 20px;
        // font-weight: bold;
        span{
            font-size: 15px;
        }
    }
    
}

img.fflag {
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

.btn-checkout{
    // --ion-color-base: var(--ion-background-theme-green-gradient) !important;
    // margin-right: 10%;
}

ion-radio-group.dark-input{
    // --ion-color-dark: #F2F2F2
}

.country-flag-outer {
    width: 100%;
    background: #101010;
    img{
        height: 18px;
        vertical-align: middle;
        margin-right: 5px;
        margin-left: 5px;
    }
    span{
        color: #F1F1F1;
        opacity: 0.26;
    }
    .country-flag-inner{
        padding: 5px;
        width: 100px;
        // float: left;
    }
    ion-input{
        width: calc(100% - 100px);
        // float: left;
    }
}

ion-label{
    font-weight: lighter;
    font-size: 1.3em !important;
}

.floatbtn-left{
position: absolute;
right: 180px;
}

.floatimg-right{
    position:absolute;
    left:250px;
}
.floattextleft{
    position:absolute;
    right:80px;
}

.itemgroupborder{
    border-top-style:solid;
    border-bottom-style: solid;
    border-top-color:whitesmoke;
    border-bottom-color: whitesmoke;
    border-top-width:10px;
    border-bottom-width:10px;
}
