.scroll-sidebar {
    height: 100%;
    overflow-y: scroll;
  }
  ion-list {
    padding-top: 0;
    padding-bottom: 0;
  }
  .card-img-height {
    margin: 0px auto;
    padding: 9px;
    border-radius: 1px;
  }
  
  .full-height-grid {
    display: flex;
    height: 100%;
  }
  ion-col.custom-bg-color-gray {
    background: #f0f1f5;
  }
  .bactive {
    --background: #f0f1f5;
  }
  .cf-list {
    width: 100%;
  }
  .cf-item {
    --background: #f0f1f5;
    border: unset;
    border-radius: unset;
  
    ion-label {
      font-weight: normal;
      color: #20324d;
    }
  }
  .sd-card-side {
    padding: 0;
    border-radius: unset;
  
    ion-card-subtitle {
      font-weight: normal;
      color: #20324d;
    }
  }
  .all-categories {
    width: 100%;
  }
  
  @media (min-width: 992px) {
    ion-col {
      margin: 16px 0;
    }
  
    ion-card.unset-border-radius {
      border-radius: unset;
    }
  
    .cat-section {
      display: flex;
      height: 100%;
      background: red;
    }
  }
  
  .fixed-gradient-background {
    background: linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%);
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .all-vendors {
    p {
      color: #656d79;
      text-transform: uppercase;
      margin: 0;
      width: 100%;
      font-size: 0.7em;
      text-align: center;
      background: white;
    }
    .max-vendors {
      width: 89px;
      height: 89px;
      padding: 0;
      background-clip: content-box; /* support: IE9+ */
      background-color: #fff;
      box-shadow: 0px 5px 5px #0000000d;
      border: 1px solid #cccccc;
      border-radius: 15px;
      margin: 0 auto;
    }

    
  }
  
  ion-toolbar {
    --background: linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%) !important;
    background: linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%) !important;
    background-color: linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%) !important;

    border: 0px !important;
    margin-top: -1px !important;
  }