<app-black-header title="{{ 'VENDORS' | translate }}" [showSearch]="true" (search)="onSearch($event)"></app-black-header>
<ion-content scrollEvents="true" #container>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <!-- no-margin no-padding -->
  <ion-grid no-padding fixed>

    <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <!-- VENDORS START-->
    <ion-row class="no-shadow "
      style="margin-bottom: 3px !important;margin-top: 10px !important;"
      *ngIf="isContentViewVisible" [@staggerIn]="vendors.length">
      <ion-col class="all-vendors ion-text-center" size="4" *ngFor="let vendor of vendors" (click)="OnVendorTouched(vendor)">
        <div class="max-vendors" [lazyLoad]="vendor.firebase_url" [scrollObservable]="loadAndScroll">
        </div>
        <ion-text class="ion-text-wrap ion-text-center ion-no-margin ion-no-padding">
          <p class="h-35 link text-small">{{ vendor.shopname }}</p>
        </ion-text>
        <ion-text class="ion-text-wrap ion-text-center ion-no-margin ion-no-padding">
          <p class="h-35 link text-small">{{ vendor.ven_name }}</p>
        </ion-text>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>