<ion-grid *ngIf="items.length">
      <div class="ion-no-padding no-shadow" style="background-color:#FFFFFF !important;">
        <ion-slide *ngFor="let banner of _slides" (click)="openCategoryEvent()">
          <div tappable class="featured-banner ion-no-padding ion-no-margin">
            <img class="category-banner" [src]="banner.firebase_url" />
          </div>
        </ion-slide>
      </div>
    <ion-row class="scrollable no-shadow"
        [@staggerIn]="items.length">
        <ion-col size-xs="4.25" *ngFor="let item of items" style="margin: 0;" (click)="goToItemPage(item)">
          <app-item-block [item]="item" style="display: block;"  [showCartIcon]="false"></app-item-block>
        </ion-col>
      </ion-row>
</ion-grid>