<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="onDismiss()">
          <ion-icon slot="start" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group allowEmptySelection="false" [value]="preference.lang" (ionChange)="onChangeLang($event)">
      <ion-list-header>
        <span class="bold" >{{ 'LANGUAGE' | translate }}</span>
      </ion-list-header>
      <ion-item >
        <ion-label color="medium">{{ 'ENGLISH' | translate }}</ion-label>
        <ion-radio color="medium" value="en"></ion-radio>
      </ion-item>
      <!-- <ion-item >
        <ion-label color="medium">{{ 'SPANISH' | translate }}</ion-label>
        <ion-radio color="medium" value="es"></ion-radio>
      </ion-item> -->
      <ion-item  lines="none">
        <ion-label color="medium">{{ 'ARABIC' | translate }}</ion-label>
        <ion-radio color="medium" value="ar"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>