<ion-grid class="no-padding">
<ion-row justify-content-center>
  <ion-col size="4" align-self-center class="couter-box no-padding">
    <ion-button size="small" class="round-btn" fill="solid" color="dark" mode="ios" [disabled]="qty <= 1" (click)="decrementQuantity(item); $event.stopPropagation()">
      <ion-icon slot="icon-only" name="ios-remove" color="light"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="4" align-self-center class="couter-box no-padding">
    <ion-button class="text-large bold" size="small" fill="clear" color="dark" mode="ios" (click)="$event.stopPropagation()">
      {{qty}}
    </ion-button>
  </ion-col>
  <ion-col size="4" align-self-center class="couter-box no-padding">

    <ion-button size="small" class="round-btn" fill="solid" color="dark" mode="ios" (click)="incrementQuantity(item); $event.stopPropagation()">
      <ion-icon slot="icon-only" name="ios-add" color="light" ></ion-icon>
    </ion-button>

  </ion-col>

  
</ion-row>
</ion-grid>
