.couter-box{ 
    text-align: center;
    padding: 0;
    ion-button{
        --padding-start: 0;
        --padding-end: 0;
        --margin-start: 0;
        --margin-end:0;
        width: 22px;
        height: 22px;
        .round-btn{
            // box-shadow: 0 3px 6px rgba(136, 136, 136, 0.16);
            border-radius: 5px;
        }
    }
}

.no-padding{
    padding: 0 !important;  
}