
.scroll-sidebar{
  height:100%;
  overflow-y: scroll;
}
ion-list{
  padding-top: 0;
  padding-bottom: 0;
}
.card-img-height{
  // height: 45px;
    width: auto;
    margin: 0px auto;
    padding: 9px;
    border-radius: 1px;
}

.full-height-grid{  
  display: flex;
  height: 100%;
}
ion-col.custom-bg-color-gray{
  background: #F0F1F5;
}
.bactive{
  --background: #F0F1F5;
}
.cf-list{
  width:100%;
}
.cf-item {
  --background: #F0F1F5;
  border: unset;
  border-radius: unset;

  ion-label{
    font-weight: normal;
    color: #20324D;
  }

}
.sd-card-side {
  padding-top: 7px;
  border-radius: unset;

  ion-card-subtitle{
    font-weight: normal;
    color: #20324D;
  }

}
.all-categories{
  width: 100%;
}

@media (min-width: 992px) {

  

  ion-col {
    margin: 16px 0;
  }

  ion-card.unset-border-radius{
    border-radius: unset;
  }

  .cat-section{
    display: flex;
    height: 100%;
    background: red;
  }

}