<!-- <ion-header no-border>
    <ion-toolbar color="primary" fixed>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-searchbar mode="ios" (ionChange)="onSearch($event)" placeholder="">
      </ion-searchbar>
    </ion-toolbar>
  </ion-header> -->
<!-- <ion-header no-border>
    <ion-toolbar color="primary" mode="ios">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{_title}}</ion-title> 

      <div slot="end">
        <ion-button (click)="showSearch = !showSearch">
          <ion-icon src="assets/imgs/Navbar-Search.svg"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon src="assets/imgs/Navbar-Cart.svg"></ion-icon>
          <ion-badge color="light" 
            *ngIf="preference.cartCount">
            {{ preference.cartCount || 0 }} 
          </ion-badge>
        </ion-button>
      </div>
    </ion-toolbar>
  <ion-toolbar color="primary" [hidden]="showSearch">
    <ion-searchbar mode="ios" [placeholder]="'SEARCH_PLACEHOLDER' | translate"
      (keyup.enter)="onSearch($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header> -->
<app-black-header title="{{ _title }}" [cangoback]="true" [showSearch]="true" (search)="onSearch($event)"></app-black-header>



<ion-content scrollEvents="true" #container>

  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>

    <empty-view *ngIf="isErrorViewVisible" icon="alert" [text]="'ERROR_DATA' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" icon="alert" [text]="'EMPTY_DATA' | translate">
    </empty-view>

    <ion-row margin-vertical class="all-categories no-margin" *ngIf="isContentViewVisible"
      [@staggerIn]="subcategories.length">

      <ion-col no-margin no-padding size="6" color="primary"
        *ngFor="let category of subcategories | filter: searchText; let i = index" (click)="onSubCategoryTouched(category)">
        <category-image-box [category]="category"></category-image-box>
      </ion-col>


      <!-- <ion-col size="12" float-right>
        <ion-button fill="clear" color="tertiary" (click)="onViewAll()">
          <ion-icon name="expand"></ion-icon>&nbsp;&nbsp; {{ 'VIEW_ALL' | translate }}
        </ion-button>
      </ion-col> -->

<!-----
      <ion-col no-margin no-padding size="4" color="primary"
        *ngFor="let category of subcategories | filter: searchText; let i = index">
         
        <ion-card class="no-shadow sd-card-side" [ngClass]="{'bactive' : selectedCategoryIndex == i}" no-margin
          (click)="onSubCategoryTouched(category)">
          <img class="card-img-height" src-fallback="assets/imgs/Hamburger-Menu.svg"
            [src]="category?.imageThumb?.url()" />
          <ion-card-subtitle text-center class="text-medium">{{ category.name }}</ion-card-subtitle>
        </ion-card>
      </ion-col>
--->
      <!-- <ion-col size="12" text-center>
          <div class="circle primary-bg" (click)="onViewAll()">
            <div class="circle-inner">
              <p class="bold link">{{ 'VIEW_ALL' | translate }}</p>
            </div>
          </div>
        </ion-col>
        <ion-col size-xs="3" text-center
          (click)="onSubCategoryTouched(category)"
          *ngFor="let category of subcategories | filter: searchText">
          <div class="circle bg-img ac-item"
            defaultImage="./assets/imgs/placeholder-large.png"
            [lazyLoad]="category.imageThumb?.url()"
            [scrollObservable]="loadAndScroll"></div>
          <ion-text color="light">
            <p class="link margin-6 text-medium">
              {{ category.name }}
            </p>
          </ion-text>
        </ion-col> -->
    </ion-row>

    <section *ngIf="isLoadingViewVisible">
      <ion-row nowrap text-center>
        <ion-col size-xs="4" size-sm="6" size-md="6" size-lg="2" *ngFor="let item of skeletonArray">
          <ngx-skeleton-loader count="1" appearance="circle"
            [theme]="{ width: '60px', height: '60px', 'background-color': '#F2F2F2' }">
          </ngx-skeleton-loader>
        </ion-col>
      </ion-row>
    </section>

  </ion-grid>

</ion-content>