.heading {
  background: white;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  padding-top: 30px;
}

ion-avatar {
  img {
    background: var(--ion-color-light);
    display: inline-block;
    max-width: 8.6rem;
    max-height: 8.6rem;
    border-radius: 4.8rem;
    padding: 2px;
  }
}

.custom-line-height {
  line-height: 1.6;
}

.skeleton-item {
  width: auto;
  height: auto;
  margin: 10px auto;
  padding: 10px;

  .wrapper {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex: 1;

    .avatar {
      width: 100px;
      height: 90px;
    }

    .title {
      width: 100%;
      padding: 10px;
      height: 80px;
    }
  }
}

.hero-img {
  width: 50%;
}

ion-grid {
  padding: 0;
}

@media only screen and (min-width: 768px) {

  ion-grid {
    padding: 16px;
  }

  .heading {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 16px;
  }

  .hero-container, .intro {
    padding: 16px;
  }

  .hero-img {
    width: 90%;
  }

  .intro {
    display: flex;
    align-items: center;
    height: 100%;
  }
}


.category-banner {
  margin: 0;
  width: 100%;
  height: 81px;
}

ion-searchbar{
  --background:lightgrey;
}

.themebackground{
  --background:linear-gradient(271deg, #f7991e 0%, #f7991e 52%, #f7781e 100%);
}

p{
 color: #f7991e; 
}