<!-- <ion-header no-border>
  <ion-toolbar color="primary" fixed>
    <div slot="start">
      <img class="logo" src="./assets/imgs/logo.png" height="35" />
    </div>
  </ion-toolbar>
</ion-header> -->
<app-black-header title="ACCOUNT" (search)="onSearch($event)"></app-black-header>
<ion-content>

    
    <!-- <ion-row class="scrollable no-shadow" style="margin-bottom: 3px;margin-right: 3px;"
          *ngIf="test_categories.length" [@staggerIn]="test_categories.length">
          <ion-col class="all-categories ion-text-center" size-xs="5.15" *ngFor="let category of test_categories"
            (click)="onCategoryTouched(category)">
            <div class="ac-item category-banner" defaultImage="./assets/imgs/placeholder.png"
              [lazyLoad]="category.loadurl" [scrollObservable]="loadAndScroll"></div>
          </ion-col>
        </ion-row>
  <ion-searchbar [placeholder]="'SEARCH_PLACEHOLDER' | translate" (ionClear)="onSearchCleared()"
      (keyup.enter)="onSearch($event)">
  </ion-searchbar> -->

        <!-- CATEGORIES START-->
        <!-----
        <div class="ion-no-margin ion-no-padding no-shadow">
          <ion-slide style="margin: 0 !important;">
            <div tappable class="category-banner">
            </div>
          </ion-slide>
        </div>
        ---->

       

<!-------
  <ion-grid fixed>

    <ion-row *ngIf="!user">

      <ion-col size-xs="12" size-md="6">
        <div class="hero-container" text-center>
          <img class="hero-img" src="./assets/imgs/id-card-512.png" />
        </div>
      </ion-col>

      <ion-col size-xs="12" size-md="6" text-center>
        <div class="intro">
          <div>
            <h3 text-uppercase>{{ 'WELCOME_BACK' | translate }}</h3>
            <ion-text color="medium">
              <p class="bold custom-line-height" style="padding-left: 25px; padding-right: 25px; color: #9b9b9b;">
                {{ 'WELCOME_TEXT' | translate }}
              </p>
            </ion-text>

            <div padding>
              <ion-button expand="block" shape="round"
                (click)="onPresentSignInModal()" style="    width: 80%; margin: 0 auto !important; --background: #b71bd7; font-weight: bold;">
                {{ 'CREATE_ACCOUNT_OR_LOGIN' | translate }}
              </ion-button>
            </div>

          </div>
        </div>
      </ion-col>

    </ion-row>
----->
<ion-grid>
    <ion-row justify-content-center>
      <ion-col no-padding size-xs="12" size-sm size-md size-lg="8">

        <div>
          <section class="heading">
            <ion-avatar>
              <img src-fallback=" ./assets/imgs/avatar.png"
                [src]="user?.firebase_url" />
            </ion-avatar>
            <ion-text style="color: #343434;">
              <h3>{{ user?.displayName }}</h3>
            </ion-text>
            <ion-text style="color: #343434;">
              <h3>{{ user?.phoneNumber }}</h3>
            </ion-text>
            <ion-text style="color: #343434;">
              <h3>{{ user?.email }}</h3>
            </ion-text>
          </section>
          <ion-list no-padding>
            <ion-item (click)="goTo('orders')">
              <ion-icon name="list-box" slot="start" ></ion-icon>
              <ion-label>
                <p style="color: #343434; font-weight: bold;">{{ 'MY_ORDERS' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" ></ion-icon>
            </ion-item>
            <ion-item (click)="goTo('favorites')">
              <ion-icon name="list-box" slot="start" ></ion-icon>
              <ion-label>
                <p style="color: #343434; font-weight: bold;">{{ 'FAVORITES' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" ></ion-icon>
            </ion-item>
            <ion-item (click)="onPresentSettingsModal()">
              <ion-icon name="cog" slot="start" ></ion-icon>
              <ion-label>
                <p style="color: #343434; font-weight: bold;">{{ 'SETTINGS' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" ></ion-icon>
            </ion-item>
            <ion-item lines="none" (click)="goTo('help')">
              <ion-icon name="help-buoy" slot="start" ></ion-icon>
              <ion-label>
                <p style="color: #343434; font-weight: bold;">{{ 'HELP' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" ></ion-icon>
            </ion-item>

            <ion-item lines="none" (click)="onLogout()">
              <ion-icon name="log-out" slot="start" ></ion-icon>
              <ion-label>
                <p style="color: #343434; font-weight: bold;">{{ 'LOGOUT' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" ></ion-icon>
            </ion-item>
            
          </ion-list>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>