// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@ngx-share/button/themes/default/default-theme';
// @import './theme/icons.scss';
@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo-SemiBold.ttf');
}

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Bold.ttf');
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic');
:root,
:root[mode="md"],
:root[mode="ios"] {
    --ion-font-family: 'Cairo', sans-serif;
    font-family: var(--ion-font-family) !important;
}


/* hide scrollbar chrome */

* ::-webkit-scrollbar {
    display: none;
}

ion-grid {
    background: transparent;
}

ion-row,
ion-col,
ion-item {
    background: unset transparent;
}

ion-card-content {
    padding: 4px 6px !important;
    button {
        border: 1px solid #fff;
        border-radius: 100px;
        background: transparent;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        display: block;
        color: #fff;
        &:hover {
            background: linear-gradient(to right, #E47D17, #DE3D5B);
            border: 1px solid transparent;
        }
    }
}

ion-card .image-container {
    position: relative;
    padding: 0;
    margin: 4px;
    span {
        background: var(--ion-color-tertiary);
        padding: 0px 6px;
        color: #fff;
        font-size: 9px;
        border-radius: 4px;
        position: absolute;
        top: 5px;
        left: 5px;
        font-weight: 500;
    }
}

ion-menu .content {
    background: var(--ion-color-primary);
}

.color-medium {
    color: var(--ion-color-medium);
}

.ion-color-medium {
    --ion-color-base: #7f7f7f !important;
}

.all-categories {
    p {
        color: #444444;
        margin: 0;
        width: 70px;
    }
    .vl-item {
        width: 65px !important;
        height: 65px !important;
        border: solid 2px #d8d8d8;
        padding: 1px;
        background-clip: content-box;
        /* support: IE9+ */
        background-color: #fff;
    }
    .ac-item.circle:not(.loader) {
        width: 80px;
        height: 80px;
        border-radius: 7px !important;
        padding: 1px;
        background-clip: content-box;
        /* support: IE9+ */
        background-color: #fff;
    }
}

app-item-block {
    max-width: 100%;
}

.unset-top-bottom-margin {
    margin-top: unset;
    margin-bottom: unset;
}

.inner-scroll {
    background: transparent !important;
}

.scrollable {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

.logo {
    display: block;
    margin: 0 6px;
}

.z-index-10 {
    z-index: 10;
}

.white {
    color: white !important
}

.static {
    position: static !important;
}

.line {
    background: var(--ion-color-light);
    height: 1px;
    margin: 8px 0;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.bg-light {
    background: var(--ion-color-light);
}

.border-light {
    border: 1px solid var(--ion-color-light);
}

.menu-toolbar {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    ;
    padding-right: 0 !important;
    ;
    ion-avatar {
        img {
            display: inline-block;
            max-width: 8.6rem;
            max-height: 8.6rem;
            border-radius: 4.8rem;
            border: 2px solid var(--ion-color-light);
        }
    }
}

.bold {
    font-weight: bold !important;
}

.alert-cancel-button span,
.alert-ok-button span {
    color: var(--ion-color-secondary)
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ng-lazyloaded {
    animation: fadein .3s;
}

.full-width {
    width: 100% !important;
}

.blue-color {
    color: var(--ion-background-blue-color);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.unset-circle {
    border-radius: unset !important;
}

.country-flag-outer {
    width: 100%;
    img.fflag {
        position: absolute;
        width: 60%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 7px;
    }
    span {
        color: #F1F1F1;
        opacity: 0.26;
    }
    .country-flag-inner {
        padding: 5px;
        width: 100px;
        // float: left;
    }
    ion-input {
        // width: calc(100% - 100px);
        // float: left;
    }
}

.circle:not(.loader) {
    // border-radius: 50%;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    // border: 3px solid #9EE9C6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // box-shadow: rgba(255, 255, 255, 0.25) 0 0 0 5px;
    border-radius: 100px;
    .circle-inner {
        padding: px;
        flex: 1;
        min-width: 0;
        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    p {
        color: var(--ion-color-light);
        font-size: 12px;
    }
}

.margin-6 {
    margin: 6px 0 !important;
}

.margin-6-horizontal {
    margin: 0 6px !important;
}

$primary-color: var(--ion-color-primary);
.primary-bg {
    background: var(--ion-color-primary);
}

.light-bg {
    background-color: var(--ion-color-light);
}

.divider {
    height: 1px;
    background: var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
}

.center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
    white-space: normal;
    line-height: 36px;
    transition: all .2s ease-in-out;
}

.ir-price {
    direction: rtl;
}

.gradient-1 {
    background-image: linear-gradient(to right, #0000FE, #0000FE);
}

.text-small {
    font-size: 10px !important;
}

.text-medium {
    font-size: 13px !important;
}

.text-large {
    font-size: 18px !important;
}

.pt-0 {
    padding-top: 3px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 8px;
}

.pt-3 {
    padding-top: 10px;
}

.pt-4 {
    padding-top: 12px;
}

.pt-5 {
    padding-top: 15px;
}

.pb-0 {
    padding-bottom: 3px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 8px;
}

.pb-3 {
    padding-bottom: 10px;
}

.pb-4 {
    padding-bottom: 12px;
}

.pb-5 {
    padding-bottom: 15px;
}

.py-0 {
    padding-bottom: 3px;
    padding-top: 3px;
}

.py-1 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.py-2 {
    padding-bottom: 8px;
    padding-top: 8px;
}

.py-3 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.py-4 {
    padding-bottom: 12px;
    padding-top: 12px;
}

.py-5 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.pr-0 {
    padding-right: 3px;
}

.pr-1 {
    padding-right: 5px;
}

.pr-2 {
    padding-right: 8px;
}

.pr-3 {
    padding-right: 10px;
}

.pr-4 {
    padding-right: 12px;
}

.pr-5 {
    padding-right: 15px;
}

.pl-0 {
    padding-left: 3px;
}

.pl-1 {
    padding-left: 5px;
}

.pl-2 {
    padding-left: 8px;
}

.pl-3 {
    padding-left: 10px;
}

.pl-4 {
    padding-left: 12px;
}

.pl-5 {
    padding-left: 15px;
}

.px-0 {
    padding-left: 3px;
    padding-right: 3px;
}

.px-1 {
    padding-left: 5px;
    padding-right: 5px;
}

.px-2 {
    padding-left: 8px;
    padding-right: 8px;
}

.px-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-4 {
    padding-left: 12px;
    padding-right: 12px;
}

.px-5 {
    padding-left: 15px;
    padding-right: 15px;
}

.mt-0 {
    margin-top: 3px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 10px;
}

.mt-4 {
    margin-top: 12px;
}

.mt-5 {
    margin-top: 15px;
}

.mb-0 {
    margin-bottom: 3px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 10px;
}

.mb-4 {
    margin-bottom: 12px;
}

.mb-5 {
    margin-bottom: 15px;
}

.my-0 {
    margin-bottom: 3px;
    margin-top: 3px;
}

.my-1 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.my-2 {
    margin-bottom: 8px;
    margin-top: 8px;
}

.my-3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.my-4 {
    margin-bottom: 12px;
    margin-top: 12px;
}

.my-5 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.mr-0 {
    margin-right: 3px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 8px;
}

.mr-3 {
    margin-right: 10px;
}

.mr-4 {
    margin-right: 12px;
}

.mr-5 {
    margin-right: 15px;
}

.ml-0 {
    margin-left: 3px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 8px;
}

.ml-3 {
    margin-left: 10px;
}

.ml-4 {
    margin-left: 12px;
}

.ml-5 {
    margin-left: 15px;
}

.mx-0 {
    margin-left: 3px;
    margin-right: 3px;
}

.mx-1 {
    margin-left: 5px;
    margin-right: 5px;
}

.mx-2 {
    margin-left: 8px;
    margin-right: 8px;
}

.mx-3 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-4 {
    margin-left: 12px;
    margin-right: 12px;
}

.mx-5 {
    margin-left: 15px;
    margin-right: 15px;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-50px {
    width: 50px;
}

.w-45px {
    width: 45px;
}

.w-40px {
    width: 40px;
}

.w-35px {
    width: 35px;
}

.w-30px {
    width: 30px;
}

.w-25px {
    width: 25px;
}

.w-20px {
    width: 20px;
}

.w-15px {
    width: 15px;
}

.w-10px {
    width: 10px;
}

.w-5px {
    width: 5px;
}

.h-50px {
    height: 50px;
}

.h-45px {
    height: 45px;
}

.h-40px {
    height: 40px;
}

.h-35px {
    height: 35px;
}

.h-30px {
    height: 30px;
}

.h-25px {
    height: 25px;
}

.h-20px {
    height: 20px;
}

.h-15px {
    height: 15px;
}

.h-10px {
    height: 10px;
}

.h-5px {
    height: 5px;
}

.pr-50px {
    padding-right: 50px;
}

.pr-45px {
    padding-right: 45px;
}

.pr-40px {
    padding-right: 40px;
}

.pr-35px {
    padding-right: 35px;
}

.pr-30px {
    padding-right: 30px;
}

.pr-25px {
    padding-right: 25px;
}

.pr-20px {
    padding-right: 20px;
}

.pr-15px {
    padding-right: 15px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-5px {
    padding-right: 5px;
}

.pl-50px {
    padding-left: 50px;
}

.pl-45px {
    padding-left: 45px;
}

.pl-40px {
    padding-left: 40px;
}

.pl-35px {
    padding-left: 35px;
}

.pl-30px {
    padding-left: 30px;
}

.pl-25px {
    padding-left: 25px;
}

.pl-20px {
    padding-left: 20px;
}

.pl-15px {
    padding-left: 15px;
}

.pl-10px {
    padding-left: 10px;
}

.pl-5px {
    padding-left: 5px;
}

.mr-50px {
    padding-right: 50px;
}

.mr-45px {
    padding-right: 45px;
}

.mr-40px {
    padding-right: 40px;
}

.mr-35px {
    padding-right: 35px;
}

.mr-30px {
    padding-right: 30px;
}

.mr-25px {
    padding-right: 25px;
}

.mr-20px {
    padding-right: 20px;
}

.mr-15px {
    padding-right: 15px;
}

.mr-10px {
    padding-right: 10px;
}

.mr-5px {
    padding-right: 5px;
}

.ml-50px {
    padding-left: 50px;
}

.ml-45px {
    padding-left: 45px;
}

.ml-40px {
    padding-left: 40px;
}

.ml-35px {
    padding-left: 35px;
}

.ml-30px {
    padding-left: 30px;
}

.ml-25px {
    padding-left: 25px;
}

.ml-20px {
    padding-left: 20px;
}

.ml-15px {
    padding-left: 15px;
}

.ml-10px {
    padding-left: 10px;
}

.ml-5px {
    padding-left: 5px;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.radius-full {
    border-radius: 100%;
}

.text-over {
    text-overflow: ellipsis;
    overflow: hidden;
}

.shadow {
    // box-shadow: 0px 4px 15px rgba(80, 80, 80, 0.1) !important;
    box-shadow: none !important;
}

.radius {
    border-radius: 6px;
}

.no-radius {
    border-radius: 0 !important;
}

.no-shadow {
    box-shadow: none !important;
}

.no-margin {
    margin: 0 !important;
}

.hide {
    display: none;
}

.label[stacked] {
    margin-bottom: 6px !important;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

ion-toolbar ion-searchbar {
    height: 35px !important;
}

.plt-ios {
    ion-toolbar {
        --min-height: 60px;
    }
}

.plt-desktop {
    .link:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

$grid-breakpoints-lg: 992px;
@media (min-width: $grid-breakpoints-lg) {
    ion-header ion-toolbar[fixed],
    ion-tabs ion-tab-bar[fixed],
    ion-footer ion-toolbar[fixed] {
        margin: 0;
        padding-right: calc((100% - #{$grid-breakpoints-lg}) / 2);
        padding-left: calc((100% - #{$grid-breakpoints-lg}) / 2);
    }
    ion-tabs ion-tab-bar {
        justify-content: start;
        ion-tab-button {
            justify-content: start;
        }
    }
    ion-header ion-toolbar {
        --min-height: 70px;
        .logo {
            height: 50px;
        }
    }
    .circle {
        border-radius: 6px !important;
        width: 150px !important;
        height: 150px !important;
    }
}

// Fix lighbox display on iphone x
:root {
    lightbox gallery {
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
        .g-btn-close {
            padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
        }
    }
}

.toastzz {
    --background: lightgrey !important;
    --border-radius: 5px !important;
    --box-shadow: none !important;
    --color: #444444 !important;
    height: calc(100% - 75px);
    .toast-wrapper.toast-bottom {
        margin-bottom: 75px !important;
    }
}

.StripeElement {
    background: #f4f5f8 !important;
    padding: 16px !important;
    margin: 0 5px;
}

ion-badge.blue-badge {
    background: var(--ion-background-white);
    color: #0000FE;
}

.dark-input {
    background: #f2f2f2 !important;
}

.sidemenu-style {
    background: white;
    height: 100%;
}

ion-select .select-text {
    color: white;
    opacity: 1;
}

ion-select .select-icon {
    color: white !important;
    opacity: 1 !important;
    width: 25px !important;
    height: 25px !important;
    padding-top: 7px;
}

ion-searchbar {
    --background: #ee7f14;
    border-radius: 10px;
}

ion-searchbar div input {
    background-color: #ee7f14;
    width: 96%;
    box-shadow: none !important;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

ion-searchbar div ion-icon {
    color: white;
}

.alrtcustomeclass {
    border-radius: 20px !important;
    .alert-wrapper.sc-ion-alert-md {
        border-radius: 20px !important;
        position: relative !important;
        width: 100% !important;
        top: 135px !important;
    }
    .alert-input.sc-ion-alert-md {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        border-radius: 7px!important;
        height: 45px !important;
        margin-bottom: 5px;
        background-color: #f7f7f7 !important;
        border: 2px solid #f7991e;
        color: #000000;
        text-align: center !important;
        letter-spacing: 7px !important;
        line-height: 45px !important;
    }
    .alert-button.sc-ion-alert-md {
        margin-left: unset;
        text-align: center;
        margin-right: unset;
        -webkit-margin-start: 0;
        margin-inline-start: 0;
        width: 100%;
        -webkit-margin-end: 8px;
        margin-inline-end: 8px;
        padding-left: unset;
        padding-right: unset;
        -webkit-padding-start: 10px;
        padding-inline-start: 10px;
        -webkit-padding-end: 10px;
        padding-inline-end: 10px;
    }
    .alert-button-inner.sc-ion-alert-md {
        -ms-flex-pack: end;
        justify-content: center;
    }
    .alert-sub-title.sc-ion-alert-md,
    .alert-title.sc-ion-alert-md {
        color: var(--ion-text-color, #000);
        text-align: center;
        font-size: 16px !important;
        font-weight: bold;
    }
    .alrtconfirmbtn {
        background-color: #f7991e;
        color: #fff;
        border-radius: 7px;
        margin-left: 15px!important;
        margin-right: 15px !important;
        position: relative;
        top: -12px !important;
    }
    .alert-button-inner.sc-ion-alert-md {
        font-weight: bold;
    }
    .alert-message.sc-ion-alert-md {
        font-size: 16px !important;
        text-align: center !important;
        line-height: 24px !important;
        color: #989898 !important;
        font-weight: 400 !important;
        padding-bottom: 0px !important;
    }
}

.mobile-responsive {
    max-width: 580px;
    ion-menu {
        display: none !important;
    }
}