.parallax {
    position: relative;
    text-align: center;
      
    .card-center{
      position: absolute;
      top: 35%;
      left: 0;
      right: 0;
    }
    
  }
  
  .banner-card-subheader {
    letter-spacing: 10px;
    font-weight: normal;
  }
  
  .banner-card-header {
    font-size: 1.5em;
    letter-spacing: 3px;
  }
  
  .white-bg{
    --background: white;
    background: white;
  }