<!-- <ion-card no-margin no-padding class="parallax unset-circle" style="box-shadow: none !important;">
    <img style="border-radius: 7px;" [src]="_loadurl" />
</ion-card> -->

<!-- Top Slide List -->
<div style="padding-left: 10px; padding-right: 10px;">
    <ion-slides (ionSlidesDidLoad)="onSlidesDidLoad()" [options]="slidesConfig" loop="true" pager="false"  *ngIf="slides?.length" >
        <ion-slide *ngFor="let slide of slides" style="margin: 0 !important;">
        <div tappable class="slidestyle" (click)="onSlideTouched(slide)">
            <img [src]="slide.image.url()" class="slider-image-ratio" [lazyLoad]="slide" [scrollObservable]="loadAndScroll" />
        </div>
        </ion-slide>
    </ion-slides>
</div>